// <auto-generated>
/*
 * Whisper Security API
 *
 * # Whisper Security Threat Intelligence API  The Whisper Security API provides comprehensive threat intelligence, geolocation data, and security operations capabilities for enterprise security teams and developers.  ## Key Capabilities  - **Indicator Enrichment**: Get comprehensive intelligence on IP addresses and domains including   geolocation, WHOIS, DNS, reputation scoring, and relationship mapping. - **Geolocation Services**: Fast IP-to-location lookups with ISP, ASN, and network information. - **Security Operations**: Asynchronous tools for bulk enrichment, infrastructure scanning,   AI-powered threat investigation, and monitoring.  ## API Design  - **RESTful**: Standard HTTP methods (GET, POST, PUT, DELETE) with JSON request/response bodies. - **Synchronous Endpoints**: Fast responses (<500ms) for indicator enrichment and geolocation. - **Asynchronous Jobs**: Long-running operations return a job ID for polling results. - **Consistent Error Handling**: Standardized error responses with status codes, error codes, and messages.  ## Authentication  All API endpoints require Bearer token authentication. Include your API key in the `Authorization` header: `Authorization: Bearer <your-api-key>`  ## Rate Limits  Rate limits are applied per-user and vary by endpoint category:  | Endpoint Category | Rate Limit | Description | |- -- -- -- -- -- -- -- -- --|- -- -- -- -- -- -|- -- -- -- -- -- --| | Indicators (`/v1/indicators/_*`) | 100 req/sec | Single indicator enrichment | | Location (`/v1/location/_*`) | 100 req/sec | Geolocation lookups | | Jobs (`/v1/ops/jobs/_*`) | 100 req/sec | Job status and listing | | Bulk Operations (`/v1/ops/enrichment/bulk`) | 10 req/sec | Bulk indicator processing | | Screenshots (`/v1/ops/screenshots/_*`) | 10 req/sec | Screenshot capture and scheduling | | Scans (`/v1/ops/scans/_*`) | 10 req/sec | Infrastructure scanning | | Monitoring (`/v1/ops/monitoring/_*`) | 10 req/sec | Uptime monitoring | | Tracking (`/v1/ops/tracking/_*`) | 10 req/sec | Change tracking | | AI Investigate (`/v1/ops/ai/investigate`) | 5 req/min | Deep threat investigation | | AI Correlate (`/v1/ops/ai/correlate`) | 5 req/min | Global correlation | | AI Attribute (`/v1/ops/ai/attribute`) | 5 req/min | Threat actor attribution | | AI Pivot (`/v1/ops/ai/pivot`) | 5 req/min | Infrastructure pivoting |  When rate limits are exceeded, the API returns HTTP `429 Too Many Requests` with a `Retry-After` header indicating when you can retry. The response body includes: ```json {   \"error\": \"Too Many Requests\",   \"message\": \"Rate limit exceeded for <category>. Please retry after N seconds.\",   \"retryAfter\": N } ```  ## Response Conventions  - All timestamps are in ISO 8601 format (UTC). - Pagination uses `limit` and `offset` parameters. - Field names use camelCase throughout the API.  ## Official SDKs  - **Python**: [github.com/whisper-sec/sdk-python](https://github.com/whisper-sec/sdk-python) - **TypeScript/JavaScript**: [github.com/whisper-sec/sdk-typescript](https://github.com/whisper-sec/sdk-typescript) - **Java**: [github.com/whisper-sec/sdk-java](https://github.com/whisper-sec/sdk-java) - **C#/.NET**: [github.com/whisper-sec/sdk-csharp](https://github.com/whisper-sec/sdk-csharp)  ## Resources  - **Website**: [whisper.security](https://whisper.security) - **Dashboard**: [dash.whisper.security](https://dash.whisper.security) - Manage API keys and view usage - **Documentation**: [docs.whisper.security](https://docs.whisper.security) - Guides and tutorials 
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@whisper.security
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Whisper.Api.Sdk.Client;
using Whisper.Api.Sdk.Model;
using System.Diagnostics.CodeAnalysis;

namespace Whisper.Api.Sdk.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IEnrichmentApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        EnrichmentApiEvents Events { get; }

        /// <summary>
        /// Bulk Indicator Enrichment (Asynchronous)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Process multiple indicators (IPs and/or domains) in a single request. This endpoint is optimized for batch processing and can handle up to 100 indicators per request.&lt;/p&gt;  &lt;h4&gt;Performance&lt;/h4&gt; &lt;p&gt;Processing time depends on batch size and indicator types. IP enrichment is faster than domain enrichment.&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;IPs only:&lt;/b&gt; 2-10 seconds for typical batches&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Domains only:&lt;/b&gt; 10-30 seconds (WHOIS lookups are slower)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Mixed:&lt;/b&gt; 5-30 seconds depending on ratio&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Rate Limits&lt;/h4&gt; &lt;p&gt;Limited to 10 requests per minute due to the resource-intensive nature of bulk operations.&lt;/p&gt;  &lt;h4&gt;Response Structure&lt;/h4&gt; &lt;p&gt;When the job completes, the &lt;code&gt;result&lt;/code&gt; field contains:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;status&lt;/code&gt;: \&quot;completed\&quot; or \&quot;failed\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;results&lt;/code&gt;: Array of enriched indicator objects (see below)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;errors&lt;/code&gt;: Array of failed enrichments with error details&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalProcessed&lt;/code&gt;: Number of indicators processed&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalFailed&lt;/code&gt;: Number of failed enrichments&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalIndicators&lt;/code&gt;: Total indicators in request&lt;/li&gt;     &lt;li&gt;&lt;code&gt;successRate&lt;/code&gt;: Percentage of successful enrichments (0-100)&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Result Item Structure&lt;/h4&gt; &lt;p&gt;Each item in the &lt;code&gt;results&lt;/code&gt; array includes:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;indicator&lt;/code&gt;: The original indicator value&lt;/li&gt;     &lt;li&gt;&lt;code&gt;type&lt;/code&gt;: \&quot;ip\&quot; or \&quot;domain\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;query&lt;/code&gt;: Request metadata (type, value, timestamp, response_time_ms)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;summary&lt;/code&gt;: Key information summary&lt;/li&gt; &lt;/ul&gt;  &lt;p&gt;&lt;b&gt;For IP indicators:&lt;/b&gt;&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;geolocation&lt;/code&gt;: Country, city, coordinates, ISP, ASN&lt;/li&gt;     &lt;li&gt;&lt;code&gt;network&lt;/code&gt;: BGP routing data, prefix visibility, origins&lt;/li&gt;     &lt;li&gt;&lt;code&gt;isp&lt;/code&gt;: ISP name, organization, ASN&lt;/li&gt;     &lt;li&gt;&lt;code&gt;reputation&lt;/code&gt;: Risk score, blacklist scores&lt;/li&gt;     &lt;li&gt;&lt;code&gt;relationships&lt;/code&gt;: Related domains, shared infrastructure&lt;/li&gt; &lt;/ul&gt;  &lt;p&gt;&lt;b&gt;For domain indicators:&lt;/b&gt;&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;registration&lt;/code&gt;: WHOIS data (registrar, dates, nameservers, status)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;dns&lt;/code&gt;: DNS records (A, AAAA, MX, NS, TXT, CNAME)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;reputation&lt;/code&gt;: Domain reputation, infrastructure scores&lt;/li&gt;     &lt;li&gt;&lt;code&gt;relationships&lt;/code&gt;: Related domains, incoming/outgoing links&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Error Item Structure&lt;/h4&gt; &lt;p&gt;Each item in the &lt;code&gt;errors&lt;/code&gt; array includes:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;indicator&lt;/code&gt;: The indicator that failed&lt;/li&gt;     &lt;li&gt;&lt;code&gt;type&lt;/code&gt;: \&quot;ip\&quot; or \&quot;domain\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;error&lt;/code&gt;: true&lt;/li&gt;     &lt;li&gt;&lt;code&gt;message&lt;/code&gt;: Error description&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bulkRequest">List of indicators and processing options.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IBulkEnrichmentApiResponse"/>&gt;</returns>
        Task<IBulkEnrichmentApiResponse> BulkEnrichmentAsync(BulkRequest bulkRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Bulk Indicator Enrichment (Asynchronous)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Process multiple indicators (IPs and/or domains) in a single request. This endpoint is optimized for batch processing and can handle up to 100 indicators per request.&lt;/p&gt;  &lt;h4&gt;Performance&lt;/h4&gt; &lt;p&gt;Processing time depends on batch size and indicator types. IP enrichment is faster than domain enrichment.&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;IPs only:&lt;/b&gt; 2-10 seconds for typical batches&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Domains only:&lt;/b&gt; 10-30 seconds (WHOIS lookups are slower)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Mixed:&lt;/b&gt; 5-30 seconds depending on ratio&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Rate Limits&lt;/h4&gt; &lt;p&gt;Limited to 10 requests per minute due to the resource-intensive nature of bulk operations.&lt;/p&gt;  &lt;h4&gt;Response Structure&lt;/h4&gt; &lt;p&gt;When the job completes, the &lt;code&gt;result&lt;/code&gt; field contains:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;status&lt;/code&gt;: \&quot;completed\&quot; or \&quot;failed\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;results&lt;/code&gt;: Array of enriched indicator objects (see below)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;errors&lt;/code&gt;: Array of failed enrichments with error details&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalProcessed&lt;/code&gt;: Number of indicators processed&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalFailed&lt;/code&gt;: Number of failed enrichments&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalIndicators&lt;/code&gt;: Total indicators in request&lt;/li&gt;     &lt;li&gt;&lt;code&gt;successRate&lt;/code&gt;: Percentage of successful enrichments (0-100)&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Result Item Structure&lt;/h4&gt; &lt;p&gt;Each item in the &lt;code&gt;results&lt;/code&gt; array includes:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;indicator&lt;/code&gt;: The original indicator value&lt;/li&gt;     &lt;li&gt;&lt;code&gt;type&lt;/code&gt;: \&quot;ip\&quot; or \&quot;domain\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;query&lt;/code&gt;: Request metadata (type, value, timestamp, response_time_ms)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;summary&lt;/code&gt;: Key information summary&lt;/li&gt; &lt;/ul&gt;  &lt;p&gt;&lt;b&gt;For IP indicators:&lt;/b&gt;&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;geolocation&lt;/code&gt;: Country, city, coordinates, ISP, ASN&lt;/li&gt;     &lt;li&gt;&lt;code&gt;network&lt;/code&gt;: BGP routing data, prefix visibility, origins&lt;/li&gt;     &lt;li&gt;&lt;code&gt;isp&lt;/code&gt;: ISP name, organization, ASN&lt;/li&gt;     &lt;li&gt;&lt;code&gt;reputation&lt;/code&gt;: Risk score, blacklist scores&lt;/li&gt;     &lt;li&gt;&lt;code&gt;relationships&lt;/code&gt;: Related domains, shared infrastructure&lt;/li&gt; &lt;/ul&gt;  &lt;p&gt;&lt;b&gt;For domain indicators:&lt;/b&gt;&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;registration&lt;/code&gt;: WHOIS data (registrar, dates, nameservers, status)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;dns&lt;/code&gt;: DNS records (A, AAAA, MX, NS, TXT, CNAME)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;reputation&lt;/code&gt;: Domain reputation, infrastructure scores&lt;/li&gt;     &lt;li&gt;&lt;code&gt;relationships&lt;/code&gt;: Related domains, incoming/outgoing links&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Error Item Structure&lt;/h4&gt; &lt;p&gt;Each item in the &lt;code&gt;errors&lt;/code&gt; array includes:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;indicator&lt;/code&gt;: The indicator that failed&lt;/li&gt;     &lt;li&gt;&lt;code&gt;type&lt;/code&gt;: \&quot;ip\&quot; or \&quot;domain\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;error&lt;/code&gt;: true&lt;/li&gt;     &lt;li&gt;&lt;code&gt;message&lt;/code&gt;: Error description&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="bulkRequest">List of indicators and processing options.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IBulkEnrichmentApiResponse"/>&gt;</returns>
        Task<IBulkEnrichmentApiResponse> BulkEnrichmentOrDefaultAsync(BulkRequest bulkRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Enrich a Single Indicator (IP or Domain)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieves comprehensive intelligence for a single IP address or domain. This is the primary, high-performance endpoint for synchronous enrichment.&lt;/p&gt; &lt;p&gt;It aggregates data from multiple sources, including geolocation, WHOIS, DNS, reputation scoring, and relationship mapping. Use the &#x60;include&#x60; parameter to request additional, deeper data sets that may have higher latency.&lt;/p&gt; &lt;h4&gt;Performance:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Base Response:&lt;/b&gt; Typically under 500ms.&lt;/li&gt;     &lt;li&gt;&lt;b&gt;With &#x60;include&#x3D;routing&#x60;:&lt;/b&gt; First request may take up to 5 seconds; subsequent requests are cached for 5 minutes and respond in &amp;lt;200ms.&lt;/li&gt;     &lt;li&gt;&lt;b&gt;With &#x60;include&#x3D;ip_intelligence&#x60;:&lt;/b&gt; Adds 200-500ms of latency for each IP address resolved from the domain.&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="type">The type of indicator to enrich.</param>
        /// <param name="value">The value of the indicator (e.g., an IPv4/IPv6 address or a domain name).</param>
        /// <param name="include">A comma-separated list of additional data modules to include in the response. Note: WHOIS and DNS data are included by default for domains. Requesting more modules may increase latency. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetIndicatorApiResponse"/>&gt;</returns>
        Task<IGetIndicatorApiResponse> GetIndicatorAsync(string type, string value, Option<string> include = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Enrich a Single Indicator (IP or Domain)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieves comprehensive intelligence for a single IP address or domain. This is the primary, high-performance endpoint for synchronous enrichment.&lt;/p&gt; &lt;p&gt;It aggregates data from multiple sources, including geolocation, WHOIS, DNS, reputation scoring, and relationship mapping. Use the &#x60;include&#x60; parameter to request additional, deeper data sets that may have higher latency.&lt;/p&gt; &lt;h4&gt;Performance:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Base Response:&lt;/b&gt; Typically under 500ms.&lt;/li&gt;     &lt;li&gt;&lt;b&gt;With &#x60;include&#x3D;routing&#x60;:&lt;/b&gt; First request may take up to 5 seconds; subsequent requests are cached for 5 minutes and respond in &amp;lt;200ms.&lt;/li&gt;     &lt;li&gt;&lt;b&gt;With &#x60;include&#x3D;ip_intelligence&#x60;:&lt;/b&gt; Adds 200-500ms of latency for each IP address resolved from the domain.&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="type">The type of indicator to enrich.</param>
        /// <param name="value">The value of the indicator (e.g., an IPv4/IPv6 address or a domain name).</param>
        /// <param name="include">A comma-separated list of additional data modules to include in the response. Note: WHOIS and DNS data are included by default for domains. Requesting more modules may increase latency. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetIndicatorApiResponse"/>&gt;</returns>
        Task<IGetIndicatorApiResponse> GetIndicatorOrDefaultAsync(string type, string value, Option<string> include = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Infrastructure Relationship Graph
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Returns graph visualization data showing relationships between the indicator and related infrastructure. Perfect for interactive network diagrams and threat actor infrastructure mapping.&lt;/p&gt; &lt;h4&gt;Relationship Types Included:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;For Domains:&lt;/b&gt;         &lt;ul&gt;             &lt;li&gt;Resolves to IPs&lt;/li&gt;             &lt;li&gt;Shares nameservers with&lt;/li&gt;             &lt;li&gt;Same SSL certificate as&lt;/li&gt;             &lt;li&gt;Same registrant as&lt;/li&gt;             &lt;li&gt;Links to/from other domains&lt;/li&gt;         &lt;/ul&gt;     &lt;/li&gt;     &lt;li&gt;&lt;b&gt;For IPs:&lt;/b&gt;         &lt;ul&gt;             &lt;li&gt;Hosts domains&lt;/li&gt;             &lt;li&gt;Same ASN as&lt;/li&gt;             &lt;li&gt;Same network block as&lt;/li&gt;             &lt;li&gt;Connected via routing&lt;/li&gt;         &lt;/ul&gt;     &lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Output Format:&lt;/h4&gt; &lt;p&gt;Compatible with react-force-graph, vis.js, cytoscape.js:&lt;/p&gt; &lt;pre&gt;&lt;code&gt;{   \&quot;nodes\&quot;: [     {\&quot;id\&quot;: \&quot;example.com\&quot;, \&quot;type\&quot;: \&quot;domain\&quot;, \&quot;label\&quot;: \&quot;example.com\&quot;},     {\&quot;id\&quot;: \&quot;8.8.8.8\&quot;, \&quot;type\&quot;: \&quot;ip\&quot;, \&quot;label\&quot;: \&quot;8.8.8.8\&quot;}   ],   \&quot;links\&quot;: [     {\&quot;source\&quot;: \&quot;example.com\&quot;, \&quot;target\&quot;: \&quot;8.8.8.8\&quot;, \&quot;type\&quot;: \&quot;resolves_to\&quot;}   ] }&lt;/code&gt;&lt;/pre&gt; &lt;h4&gt;Performance:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Response Time: 500ms-2s depending on graph complexity&lt;/li&gt;     &lt;li&gt;Default: 100 nodes maximum (adjustable)&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Interactive threat actor infrastructure visualization&lt;/li&gt;     &lt;li&gt;Discovering related phishing campaigns&lt;/li&gt;     &lt;li&gt;Mapping shadow IT and sprawl&lt;/li&gt;     &lt;li&gt;Network topology visualization&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="type">Type of indicator</param>
        /// <param name="value">The indicator value (IP address or domain)</param>
        /// <param name="limit">Maximum number of nodes to return in the graph (optional, default to 100)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetIndicatorGraphApiResponse"/>&gt;</returns>
        Task<IGetIndicatorGraphApiResponse> GetIndicatorGraphAsync(string type, string value, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Infrastructure Relationship Graph
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Returns graph visualization data showing relationships between the indicator and related infrastructure. Perfect for interactive network diagrams and threat actor infrastructure mapping.&lt;/p&gt; &lt;h4&gt;Relationship Types Included:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;For Domains:&lt;/b&gt;         &lt;ul&gt;             &lt;li&gt;Resolves to IPs&lt;/li&gt;             &lt;li&gt;Shares nameservers with&lt;/li&gt;             &lt;li&gt;Same SSL certificate as&lt;/li&gt;             &lt;li&gt;Same registrant as&lt;/li&gt;             &lt;li&gt;Links to/from other domains&lt;/li&gt;         &lt;/ul&gt;     &lt;/li&gt;     &lt;li&gt;&lt;b&gt;For IPs:&lt;/b&gt;         &lt;ul&gt;             &lt;li&gt;Hosts domains&lt;/li&gt;             &lt;li&gt;Same ASN as&lt;/li&gt;             &lt;li&gt;Same network block as&lt;/li&gt;             &lt;li&gt;Connected via routing&lt;/li&gt;         &lt;/ul&gt;     &lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Output Format:&lt;/h4&gt; &lt;p&gt;Compatible with react-force-graph, vis.js, cytoscape.js:&lt;/p&gt; &lt;pre&gt;&lt;code&gt;{   \&quot;nodes\&quot;: [     {\&quot;id\&quot;: \&quot;example.com\&quot;, \&quot;type\&quot;: \&quot;domain\&quot;, \&quot;label\&quot;: \&quot;example.com\&quot;},     {\&quot;id\&quot;: \&quot;8.8.8.8\&quot;, \&quot;type\&quot;: \&quot;ip\&quot;, \&quot;label\&quot;: \&quot;8.8.8.8\&quot;}   ],   \&quot;links\&quot;: [     {\&quot;source\&quot;: \&quot;example.com\&quot;, \&quot;target\&quot;: \&quot;8.8.8.8\&quot;, \&quot;type\&quot;: \&quot;resolves_to\&quot;}   ] }&lt;/code&gt;&lt;/pre&gt; &lt;h4&gt;Performance:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Response Time: 500ms-2s depending on graph complexity&lt;/li&gt;     &lt;li&gt;Default: 100 nodes maximum (adjustable)&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Interactive threat actor infrastructure visualization&lt;/li&gt;     &lt;li&gt;Discovering related phishing campaigns&lt;/li&gt;     &lt;li&gt;Mapping shadow IT and sprawl&lt;/li&gt;     &lt;li&gt;Network topology visualization&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="type">Type of indicator</param>
        /// <param name="value">The indicator value (IP address or domain)</param>
        /// <param name="limit">Maximum number of nodes to return in the graph (optional, default to 100)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetIndicatorGraphApiResponse"/>&gt;</returns>
        Task<IGetIndicatorGraphApiResponse> GetIndicatorGraphOrDefaultAsync(string type, string value, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Historical Data for Indicator
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieves time-series historical data for an IP address or domain. Track how infrastructure changes over time for threat intelligence and forensic analysis.&lt;/p&gt; &lt;h4&gt;History Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;whois:&lt;/b&gt; Registration history - registrant changes, expiration updates, transfers&lt;/li&gt;     &lt;li&gt;&lt;b&gt;routing:&lt;/b&gt; BGP routing history - prefix announcements, ASN changes, route hijacks&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns:&lt;/b&gt; DNS resolution history - IP address changes, nameserver updates&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl:&lt;/b&gt; Certificate history - cert replacements, CA changes, expiration events&lt;/li&gt;     &lt;li&gt;&lt;b&gt;reputation:&lt;/b&gt; Risk score history - blacklist appearances, reputation changes&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Data Format:&lt;/h4&gt; &lt;p&gt;Timeline with dated snapshots showing what changed and when:&lt;/p&gt; &lt;pre&gt;&lt;code&gt;{   \&quot;history\&quot;: [     {       \&quot;timestamp\&quot;: \&quot;2025-01-15T10:00:00Z\&quot;,       \&quot;field\&quot;: \&quot;registrant_company\&quot;,       \&quot;old_value\&quot;: \&quot;Evil Corp\&quot;,       \&quot;new_value\&quot;: \&quot;Legitimate LLC\&quot;     }   ] }&lt;/code&gt;&lt;/pre&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Tracking domain ownership changes&lt;/li&gt;     &lt;li&gt;Investigating IP reputation degradation&lt;/li&gt;     &lt;li&gt;Forensic timeline reconstruction&lt;/li&gt;     &lt;li&gt;Detecting infrastructure pivots by threat actors&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="type">Type of indicator</param>
        /// <param name="value">The indicator value (IP address or domain)</param>
        /// <param name="historyType">Type of historical data to retrieve (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetIndicatorHistoryApiResponse"/>&gt;</returns>
        Task<IGetIndicatorHistoryApiResponse> GetIndicatorHistoryAsync(string type, string value, Option<string> historyType = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Historical Data for Indicator
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieves time-series historical data for an IP address or domain. Track how infrastructure changes over time for threat intelligence and forensic analysis.&lt;/p&gt; &lt;h4&gt;History Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;whois:&lt;/b&gt; Registration history - registrant changes, expiration updates, transfers&lt;/li&gt;     &lt;li&gt;&lt;b&gt;routing:&lt;/b&gt; BGP routing history - prefix announcements, ASN changes, route hijacks&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns:&lt;/b&gt; DNS resolution history - IP address changes, nameserver updates&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl:&lt;/b&gt; Certificate history - cert replacements, CA changes, expiration events&lt;/li&gt;     &lt;li&gt;&lt;b&gt;reputation:&lt;/b&gt; Risk score history - blacklist appearances, reputation changes&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Data Format:&lt;/h4&gt; &lt;p&gt;Timeline with dated snapshots showing what changed and when:&lt;/p&gt; &lt;pre&gt;&lt;code&gt;{   \&quot;history\&quot;: [     {       \&quot;timestamp\&quot;: \&quot;2025-01-15T10:00:00Z\&quot;,       \&quot;field\&quot;: \&quot;registrant_company\&quot;,       \&quot;old_value\&quot;: \&quot;Evil Corp\&quot;,       \&quot;new_value\&quot;: \&quot;Legitimate LLC\&quot;     }   ] }&lt;/code&gt;&lt;/pre&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Tracking domain ownership changes&lt;/li&gt;     &lt;li&gt;Investigating IP reputation degradation&lt;/li&gt;     &lt;li&gt;Forensic timeline reconstruction&lt;/li&gt;     &lt;li&gt;Detecting infrastructure pivots by threat actors&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="type">Type of indicator</param>
        /// <param name="value">The indicator value (IP address or domain)</param>
        /// <param name="historyType">Type of historical data to retrieve (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetIndicatorHistoryApiResponse"/>&gt;</returns>
        Task<IGetIndicatorHistoryApiResponse> GetIndicatorHistoryOrDefaultAsync(string type, string value, Option<string> historyType = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get AI Predictive Risk Score
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Returns ML-based predictive risk assessment for an IP address or domain. Provides current risk scoring, 7-day and 30-day predictions, risk trajectory analysis, and contributing factors.&lt;/p&gt; &lt;h4&gt;Response Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Current Assessment:&lt;/b&gt; Risk score (0-100), risk level, and confidence&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Predictions:&lt;/b&gt; 7-day and 30-day risk forecasts with confidence intervals&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Trajectory:&lt;/b&gt; Trend direction (improving/stable/worsening), velocity, stability&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Risk Factors:&lt;/b&gt; Contributing factors with weights and descriptions&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Early Warnings:&lt;/b&gt; Signals indicating potential future risk changes&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Similar Cases:&lt;/b&gt; Historical indicators with similar profiles and their outcomes&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Risk Levels:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;low:&lt;/b&gt; Score 0-30 - Minimal observed risk&lt;/li&gt;     &lt;li&gt;&lt;b&gt;medium:&lt;/b&gt; Score 31-60 - Moderate risk, warrants monitoring&lt;/li&gt;     &lt;li&gt;&lt;b&gt;high:&lt;/b&gt; Score 61-80 - Elevated risk, investigation recommended&lt;/li&gt;     &lt;li&gt;&lt;b&gt;critical:&lt;/b&gt; Score 81-100 - Severe risk, immediate action advised&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Performance:&lt;/h4&gt; &lt;p&gt;Pre-computed ML predictions. Response time typically under 500ms with 15-minute cache.&lt;/p&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="type">Type of indicator</param>
        /// <param name="value">The indicator value (IP address or domain)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetPredictiveRiskApiResponse"/>&gt;</returns>
        Task<IGetPredictiveRiskApiResponse> GetPredictiveRiskAsync(string type, string value, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get AI Predictive Risk Score
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Returns ML-based predictive risk assessment for an IP address or domain. Provides current risk scoring, 7-day and 30-day predictions, risk trajectory analysis, and contributing factors.&lt;/p&gt; &lt;h4&gt;Response Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Current Assessment:&lt;/b&gt; Risk score (0-100), risk level, and confidence&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Predictions:&lt;/b&gt; 7-day and 30-day risk forecasts with confidence intervals&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Trajectory:&lt;/b&gt; Trend direction (improving/stable/worsening), velocity, stability&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Risk Factors:&lt;/b&gt; Contributing factors with weights and descriptions&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Early Warnings:&lt;/b&gt; Signals indicating potential future risk changes&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Similar Cases:&lt;/b&gt; Historical indicators with similar profiles and their outcomes&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Risk Levels:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;low:&lt;/b&gt; Score 0-30 - Minimal observed risk&lt;/li&gt;     &lt;li&gt;&lt;b&gt;medium:&lt;/b&gt; Score 31-60 - Moderate risk, warrants monitoring&lt;/li&gt;     &lt;li&gt;&lt;b&gt;high:&lt;/b&gt; Score 61-80 - Elevated risk, investigation recommended&lt;/li&gt;     &lt;li&gt;&lt;b&gt;critical:&lt;/b&gt; Score 81-100 - Severe risk, immediate action advised&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Performance:&lt;/h4&gt; &lt;p&gt;Pre-computed ML predictions. Response time typically under 500ms with 15-minute cache.&lt;/p&gt; 
        /// </remarks>
        /// <param name="type">Type of indicator</param>
        /// <param name="value">The indicator value (IP address or domain)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetPredictiveRiskApiResponse"/>&gt;</returns>
        Task<IGetPredictiveRiskApiResponse> GetPredictiveRiskOrDefaultAsync(string type, string value, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Domain Subdomains
        /// </summary>
        /// <remarks>
        /// Retrieves a list of discovered subdomains for a given root domain, based on passive DNS and other enumeration techniques.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="domain">The root domain to query for subdomains.</param>
        /// <param name="limit">The maximum number of subdomains to return. (optional, default to 100)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSubdomainsApiResponse"/>&gt;</returns>
        Task<IGetSubdomainsApiResponse> GetSubdomainsAsync(string domain, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Domain Subdomains
        /// </summary>
        /// <remarks>
        /// Retrieves a list of discovered subdomains for a given root domain, based on passive DNS and other enumeration techniques.
        /// </remarks>
        /// <param name="domain">The root domain to query for subdomains.</param>
        /// <param name="limit">The maximum number of subdomains to return. (optional, default to 100)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSubdomainsApiResponse"/>&gt;</returns>
        Task<IGetSubdomainsApiResponse> GetSubdomainsOrDefaultAsync(string domain, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search WHOIS and Geolocation Records (Asynchronous)
        /// </summary>
        /// <remarks>
        ///             &lt;p&gt;Initiates an asynchronous job to search domain registration (WHOIS) or IP geolocation records. This endpoint is extremely powerful for infrastructure discovery, threat hunting, and brand protection.&lt;/p&gt;             &lt;p&gt;&lt;b&gt;Performance Note:&lt;/b&gt; WHOIS searches are data-intensive and can take over 50 seconds to complete. Geolocation searches are faster (5-10 seconds). This endpoint is asynchronous by design. Poll the &lt;code&gt;/v1/ops/jobs/{jobId}&lt;/code&gt; endpoint to retrieve results.&lt;/p&gt;              &lt;h4&gt;Search Types:&lt;/h4&gt;             &lt;p&gt;The endpoint automatically routes to the appropriate backend based on the fields provided:&lt;/p&gt;             &lt;ul&gt;                 &lt;li&gt;&lt;b&gt;WHOIS Search:&lt;/b&gt; Use registrant fields (registrantCompany, registrantEmail, etc.) or domain-related fields (tld, nameServer, etc.)&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Geolocation Search:&lt;/b&gt; Use IP geolocation fields (city, country, asn, isp, etc.) to find IPs matching criteria&lt;/li&gt;             &lt;/ul&gt;              &lt;h4&gt;WHOIS Search Fields:&lt;/h4&gt;             &lt;table&gt;                 &lt;tr&gt;&lt;th&gt;Field&lt;/th&gt;&lt;th&gt;Type&lt;/th&gt;&lt;th&gt;Description&lt;/th&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;tld&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Top-level domain (e.g., \&quot;com\&quot;, \&quot;org\&quot;, \&quot;net\&quot;)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrarName&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Domain registrar name&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrarIanaId&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;IANA registrar ID&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantName&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Domain registrant name (partial match)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantCompany&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Registrant organization/company (partial match)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantEmail&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Registrant email address (supports *@domain.com wildcards)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantPhone&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Registrant phone number&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantCountry&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;2-letter country code (e.g., \&quot;US\&quot;, \&quot;DE\&quot;)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantCity&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Registrant city&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;nameServer&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Name server hostname&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;domainStatus&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Domain status flag (e.g., \&quot;clientTransferProhibited\&quot;)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;createdDate&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Domain creation date (YYYY-MM-DD format)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;updatedDate&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Domain last update date (YYYY-MM-DD format)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;expiryDate&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Domain expiry date (YYYY-MM-DD format)&lt;/td&gt;&lt;/tr&gt;             &lt;/table&gt;              &lt;h4&gt;Geolocation Search Fields (query string syntax):&lt;/h4&gt;             &lt;table&gt;                 &lt;tr&gt;&lt;th&gt;Field&lt;/th&gt;&lt;th&gt;Description&lt;/th&gt;&lt;th&gt;Example&lt;/th&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;city&lt;/code&gt;&lt;/td&gt;&lt;td&gt;City name&lt;/td&gt;&lt;td&gt;&lt;code&gt;city:London&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;country&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Country name&lt;/td&gt;&lt;td&gt;&lt;code&gt;country:Germany&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;asn&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Autonomous System Number&lt;/td&gt;&lt;td&gt;&lt;code&gt;asn:15169&lt;/code&gt; (Google)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;isp&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Internet Service Provider name&lt;/td&gt;&lt;td&gt;&lt;code&gt;isp:Cloudflare&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;organization&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Organization name&lt;/td&gt;&lt;td&gt;&lt;code&gt;organization:Amazon&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;region&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Region/State&lt;/td&gt;&lt;td&gt;&lt;code&gt;region:California&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;postal_code&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Postal/ZIP code&lt;/td&gt;&lt;td&gt;&lt;code&gt;postal_code:94043&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;continent&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Continent&lt;/td&gt;&lt;td&gt;&lt;code&gt;continent:Europe&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;             &lt;/table&gt;              &lt;h4&gt;Example Requests:&lt;/h4&gt;             &lt;p&gt;&lt;b&gt;WHOIS search (field-based):&lt;/b&gt;&lt;/p&gt;             &lt;pre&gt;{   \&quot;registrantCompany\&quot;: \&quot;Google\&quot;,   \&quot;registrantCountry\&quot;: \&quot;US\&quot;,   \&quot;limit\&quot;: 100,   \&quot;page\&quot;: 0 }&lt;/pre&gt;             &lt;p&gt;&lt;b&gt;Geolocation search (find IPs by ASN):&lt;/b&gt;&lt;/p&gt;             &lt;pre&gt;{   \&quot;query\&quot;: \&quot;asn:15169\&quot;,   \&quot;limit\&quot;: 100 }&lt;/pre&gt;             &lt;p&gt;&lt;b&gt;Geolocation search (find IPs by city):&lt;/b&gt;&lt;/p&gt;             &lt;pre&gt;{   \&quot;query\&quot;: \&quot;city:Mountain View\&quot;,   \&quot;limit\&quot;: 100 }&lt;/pre&gt;             &lt;p&gt;&lt;b&gt;Date-based domain search:&lt;/b&gt;&lt;/p&gt;             &lt;pre&gt;{   \&quot;createdDate\&quot;: \&quot;2024-01-15\&quot;,   \&quot;tld\&quot;: \&quot;com\&quot;,   \&quot;limit\&quot;: 100 }&lt;/pre&gt;              &lt;h4&gt;Pagination:&lt;/h4&gt;             &lt;ul&gt;                 &lt;li&gt;&lt;code&gt;limit&lt;/code&gt;: Maximum 100 results per page (default: 100)&lt;/li&gt;                 &lt;li&gt;&lt;code&gt;page&lt;/code&gt;: 0-indexed page number (default: 0)&lt;/li&gt;                 &lt;li&gt;&lt;code&gt;offset&lt;/code&gt;: Alternative to page - number of results to skip&lt;/li&gt;             &lt;/ul&gt;              &lt;h4&gt;Use Cases:&lt;/h4&gt;             &lt;ul&gt;                 &lt;li&gt;&lt;b&gt;Threat hunting:&lt;/b&gt; Find domains/IPs registered by known malicious actors&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Infrastructure mapping:&lt;/b&gt; Find all IPs in a specific ASN or organization&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Brand protection:&lt;/b&gt; Monitor for domains similar to your brand&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Geolocation analysis:&lt;/b&gt; Find IPs in specific geographic regions&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Investigation:&lt;/b&gt; Track domains created on specific dates or IPs from specific ISPs&lt;/li&gt;             &lt;/ul&gt;              &lt;h4&gt;Security:&lt;/h4&gt;             &lt;p&gt;All search parameters are validated for:&lt;/p&gt;             &lt;ul&gt;                 &lt;li&gt;SQL injection prevention&lt;/li&gt;                 &lt;li&gt;Command injection prevention&lt;/li&gt;                 &lt;li&gt;Input length limits&lt;/li&gt;                 &lt;li&gt;Format validation (dates, emails, country codes, etc.)&lt;/li&gt;             &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="searchRequest">The search query and configuration.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchIndicatorsApiResponse"/>&gt;</returns>
        Task<ISearchIndicatorsApiResponse> SearchIndicatorsAsync(SearchRequest searchRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search WHOIS and Geolocation Records (Asynchronous)
        /// </summary>
        /// <remarks>
        ///             &lt;p&gt;Initiates an asynchronous job to search domain registration (WHOIS) or IP geolocation records. This endpoint is extremely powerful for infrastructure discovery, threat hunting, and brand protection.&lt;/p&gt;             &lt;p&gt;&lt;b&gt;Performance Note:&lt;/b&gt; WHOIS searches are data-intensive and can take over 50 seconds to complete. Geolocation searches are faster (5-10 seconds). This endpoint is asynchronous by design. Poll the &lt;code&gt;/v1/ops/jobs/{jobId}&lt;/code&gt; endpoint to retrieve results.&lt;/p&gt;              &lt;h4&gt;Search Types:&lt;/h4&gt;             &lt;p&gt;The endpoint automatically routes to the appropriate backend based on the fields provided:&lt;/p&gt;             &lt;ul&gt;                 &lt;li&gt;&lt;b&gt;WHOIS Search:&lt;/b&gt; Use registrant fields (registrantCompany, registrantEmail, etc.) or domain-related fields (tld, nameServer, etc.)&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Geolocation Search:&lt;/b&gt; Use IP geolocation fields (city, country, asn, isp, etc.) to find IPs matching criteria&lt;/li&gt;             &lt;/ul&gt;              &lt;h4&gt;WHOIS Search Fields:&lt;/h4&gt;             &lt;table&gt;                 &lt;tr&gt;&lt;th&gt;Field&lt;/th&gt;&lt;th&gt;Type&lt;/th&gt;&lt;th&gt;Description&lt;/th&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;tld&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Top-level domain (e.g., \&quot;com\&quot;, \&quot;org\&quot;, \&quot;net\&quot;)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrarName&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Domain registrar name&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrarIanaId&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;IANA registrar ID&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantName&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Domain registrant name (partial match)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantCompany&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Registrant organization/company (partial match)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantEmail&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Registrant email address (supports *@domain.com wildcards)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantPhone&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Registrant phone number&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantCountry&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;2-letter country code (e.g., \&quot;US\&quot;, \&quot;DE\&quot;)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;registrantCity&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Registrant city&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;nameServer&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Name server hostname&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;domainStatus&lt;/code&gt;&lt;/td&gt;&lt;td&gt;text&lt;/td&gt;&lt;td&gt;Domain status flag (e.g., \&quot;clientTransferProhibited\&quot;)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;createdDate&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Domain creation date (YYYY-MM-DD format)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;updatedDate&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Domain last update date (YYYY-MM-DD format)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;expiryDate&lt;/code&gt;&lt;/td&gt;&lt;td&gt;exact&lt;/td&gt;&lt;td&gt;Domain expiry date (YYYY-MM-DD format)&lt;/td&gt;&lt;/tr&gt;             &lt;/table&gt;              &lt;h4&gt;Geolocation Search Fields (query string syntax):&lt;/h4&gt;             &lt;table&gt;                 &lt;tr&gt;&lt;th&gt;Field&lt;/th&gt;&lt;th&gt;Description&lt;/th&gt;&lt;th&gt;Example&lt;/th&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;city&lt;/code&gt;&lt;/td&gt;&lt;td&gt;City name&lt;/td&gt;&lt;td&gt;&lt;code&gt;city:London&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;country&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Country name&lt;/td&gt;&lt;td&gt;&lt;code&gt;country:Germany&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;asn&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Autonomous System Number&lt;/td&gt;&lt;td&gt;&lt;code&gt;asn:15169&lt;/code&gt; (Google)&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;isp&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Internet Service Provider name&lt;/td&gt;&lt;td&gt;&lt;code&gt;isp:Cloudflare&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;organization&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Organization name&lt;/td&gt;&lt;td&gt;&lt;code&gt;organization:Amazon&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;region&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Region/State&lt;/td&gt;&lt;td&gt;&lt;code&gt;region:California&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;postal_code&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Postal/ZIP code&lt;/td&gt;&lt;td&gt;&lt;code&gt;postal_code:94043&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;                 &lt;tr&gt;&lt;td&gt;&lt;code&gt;continent&lt;/code&gt;&lt;/td&gt;&lt;td&gt;Continent&lt;/td&gt;&lt;td&gt;&lt;code&gt;continent:Europe&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;             &lt;/table&gt;              &lt;h4&gt;Example Requests:&lt;/h4&gt;             &lt;p&gt;&lt;b&gt;WHOIS search (field-based):&lt;/b&gt;&lt;/p&gt;             &lt;pre&gt;{   \&quot;registrantCompany\&quot;: \&quot;Google\&quot;,   \&quot;registrantCountry\&quot;: \&quot;US\&quot;,   \&quot;limit\&quot;: 100,   \&quot;page\&quot;: 0 }&lt;/pre&gt;             &lt;p&gt;&lt;b&gt;Geolocation search (find IPs by ASN):&lt;/b&gt;&lt;/p&gt;             &lt;pre&gt;{   \&quot;query\&quot;: \&quot;asn:15169\&quot;,   \&quot;limit\&quot;: 100 }&lt;/pre&gt;             &lt;p&gt;&lt;b&gt;Geolocation search (find IPs by city):&lt;/b&gt;&lt;/p&gt;             &lt;pre&gt;{   \&quot;query\&quot;: \&quot;city:Mountain View\&quot;,   \&quot;limit\&quot;: 100 }&lt;/pre&gt;             &lt;p&gt;&lt;b&gt;Date-based domain search:&lt;/b&gt;&lt;/p&gt;             &lt;pre&gt;{   \&quot;createdDate\&quot;: \&quot;2024-01-15\&quot;,   \&quot;tld\&quot;: \&quot;com\&quot;,   \&quot;limit\&quot;: 100 }&lt;/pre&gt;              &lt;h4&gt;Pagination:&lt;/h4&gt;             &lt;ul&gt;                 &lt;li&gt;&lt;code&gt;limit&lt;/code&gt;: Maximum 100 results per page (default: 100)&lt;/li&gt;                 &lt;li&gt;&lt;code&gt;page&lt;/code&gt;: 0-indexed page number (default: 0)&lt;/li&gt;                 &lt;li&gt;&lt;code&gt;offset&lt;/code&gt;: Alternative to page - number of results to skip&lt;/li&gt;             &lt;/ul&gt;              &lt;h4&gt;Use Cases:&lt;/h4&gt;             &lt;ul&gt;                 &lt;li&gt;&lt;b&gt;Threat hunting:&lt;/b&gt; Find domains/IPs registered by known malicious actors&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Infrastructure mapping:&lt;/b&gt; Find all IPs in a specific ASN or organization&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Brand protection:&lt;/b&gt; Monitor for domains similar to your brand&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Geolocation analysis:&lt;/b&gt; Find IPs in specific geographic regions&lt;/li&gt;                 &lt;li&gt;&lt;b&gt;Investigation:&lt;/b&gt; Track domains created on specific dates or IPs from specific ISPs&lt;/li&gt;             &lt;/ul&gt;              &lt;h4&gt;Security:&lt;/h4&gt;             &lt;p&gt;All search parameters are validated for:&lt;/p&gt;             &lt;ul&gt;                 &lt;li&gt;SQL injection prevention&lt;/li&gt;                 &lt;li&gt;Command injection prevention&lt;/li&gt;                 &lt;li&gt;Input length limits&lt;/li&gt;                 &lt;li&gt;Format validation (dates, emails, country codes, etc.)&lt;/li&gt;             &lt;/ul&gt; 
        /// </remarks>
        /// <param name="searchRequest">The search query and configuration.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchIndicatorsApiResponse"/>&gt;</returns>
        Task<ISearchIndicatorsApiResponse> SearchIndicatorsOrDefaultAsync(SearchRequest searchRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Find Similar Domains (Asynchronous)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Finds domains similar to the provided domain using various similarity detection techniques. This endpoint is useful for brand protection, typosquatting detection, and threat hunting.&lt;/p&gt;  &lt;h4&gt;Supported Techniques:&lt;/h4&gt; &lt;p&gt;Specify techniques in the &lt;code&gt;techniques&lt;/code&gt; array. If not specified, defaults to &lt;code&gt;typosquatting&lt;/code&gt;.&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;typosquatting&lt;/b&gt; - Keyboard proximity errors and common typos (e.g., gooogle.com, gogle.com)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;homoglyph&lt;/b&gt; - Visually similar Unicode characters (e.g., gооgle.com using Cyrillic &#39;о&#39;)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;tld_variation&lt;/b&gt; - Different TLD variations (e.g., google.net, google.org)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;sounding&lt;/b&gt; - Phonetically similar domains&lt;/li&gt;     &lt;li&gt;&lt;b&gt;prefix&lt;/b&gt; - Domains starting with the target&lt;/li&gt;     &lt;li&gt;&lt;b&gt;suffix&lt;/b&gt; - Domains ending with the target&lt;/li&gt;     &lt;li&gt;&lt;b&gt;contains&lt;/b&gt; - Domains containing the target as a substring&lt;/li&gt;     &lt;li&gt;&lt;b&gt;levenshtein&lt;/b&gt; - Edit distance similarity&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Example Request:&lt;/h4&gt; &lt;pre&gt;&lt;code&gt;{   \&quot;domain\&quot;: \&quot;google.com\&quot;,   \&quot;techniques\&quot;: [\&quot;typosquatting\&quot;, \&quot;homoglyph\&quot;, \&quot;tld_variation\&quot;],   \&quot;limit\&quot;: 100 }&lt;/code&gt;&lt;/pre&gt;  &lt;h4&gt;Response Format:&lt;/h4&gt; &lt;p&gt;Poll &lt;code&gt;/v1/ops/jobs/{jobId}&lt;/code&gt; to get results. The result contains:&lt;/p&gt; &lt;pre&gt;&lt;code&gt;{   \&quot;domain\&quot;: \&quot;google.com\&quot;,   \&quot;status\&quot;: \&quot;completed\&quot;,   \&quot;similarDomains\&quot;: [     {\&quot;domain\&quot;: \&quot;gooogle.com\&quot;, \&quot;technique\&quot;: \&quot;TYPO\&quot;},     {\&quot;domain\&quot;: \&quot;gооgle.com\&quot;, \&quot;technique\&quot;: \&quot;UTFVARS\&quot;}   ],   \&quot;totalCount\&quot;: 200,   \&quot;analysis\&quot;: {     \&quot;techniquesUsed\&quot;: \&quot;TYPO,UTFVARS\&quot;,     \&quot;baseDomain\&quot;: \&quot;google.com\&quot;,     \&quot;searchLimit\&quot;: 100   } }&lt;/code&gt;&lt;/pre&gt;  &lt;h4&gt;Performance:&lt;/h4&gt; &lt;p&gt;Typically completes in 5-15 seconds. Multiple techniques run in parallel.&lt;/p&gt;  &lt;h4&gt;Note:&lt;/h4&gt; &lt;p&gt;The &lt;code&gt;check_registration&lt;/code&gt;, &lt;code&gt;include_dns&lt;/code&gt;, and &lt;code&gt;include_risk_score&lt;/code&gt; options are not currently supported by the backend service and will be ignored.&lt;/p&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="similarDomainsOpsRequest">Similar domains request with domain and options.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISimilarDomainsApiResponse"/>&gt;</returns>
        Task<ISimilarDomainsApiResponse> SimilarDomainsAsync(SimilarDomainsOpsRequest similarDomainsOpsRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Find Similar Domains (Asynchronous)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Finds domains similar to the provided domain using various similarity detection techniques. This endpoint is useful for brand protection, typosquatting detection, and threat hunting.&lt;/p&gt;  &lt;h4&gt;Supported Techniques:&lt;/h4&gt; &lt;p&gt;Specify techniques in the &lt;code&gt;techniques&lt;/code&gt; array. If not specified, defaults to &lt;code&gt;typosquatting&lt;/code&gt;.&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;typosquatting&lt;/b&gt; - Keyboard proximity errors and common typos (e.g., gooogle.com, gogle.com)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;homoglyph&lt;/b&gt; - Visually similar Unicode characters (e.g., gооgle.com using Cyrillic &#39;о&#39;)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;tld_variation&lt;/b&gt; - Different TLD variations (e.g., google.net, google.org)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;sounding&lt;/b&gt; - Phonetically similar domains&lt;/li&gt;     &lt;li&gt;&lt;b&gt;prefix&lt;/b&gt; - Domains starting with the target&lt;/li&gt;     &lt;li&gt;&lt;b&gt;suffix&lt;/b&gt; - Domains ending with the target&lt;/li&gt;     &lt;li&gt;&lt;b&gt;contains&lt;/b&gt; - Domains containing the target as a substring&lt;/li&gt;     &lt;li&gt;&lt;b&gt;levenshtein&lt;/b&gt; - Edit distance similarity&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Example Request:&lt;/h4&gt; &lt;pre&gt;&lt;code&gt;{   \&quot;domain\&quot;: \&quot;google.com\&quot;,   \&quot;techniques\&quot;: [\&quot;typosquatting\&quot;, \&quot;homoglyph\&quot;, \&quot;tld_variation\&quot;],   \&quot;limit\&quot;: 100 }&lt;/code&gt;&lt;/pre&gt;  &lt;h4&gt;Response Format:&lt;/h4&gt; &lt;p&gt;Poll &lt;code&gt;/v1/ops/jobs/{jobId}&lt;/code&gt; to get results. The result contains:&lt;/p&gt; &lt;pre&gt;&lt;code&gt;{   \&quot;domain\&quot;: \&quot;google.com\&quot;,   \&quot;status\&quot;: \&quot;completed\&quot;,   \&quot;similarDomains\&quot;: [     {\&quot;domain\&quot;: \&quot;gooogle.com\&quot;, \&quot;technique\&quot;: \&quot;TYPO\&quot;},     {\&quot;domain\&quot;: \&quot;gооgle.com\&quot;, \&quot;technique\&quot;: \&quot;UTFVARS\&quot;}   ],   \&quot;totalCount\&quot;: 200,   \&quot;analysis\&quot;: {     \&quot;techniquesUsed\&quot;: \&quot;TYPO,UTFVARS\&quot;,     \&quot;baseDomain\&quot;: \&quot;google.com\&quot;,     \&quot;searchLimit\&quot;: 100   } }&lt;/code&gt;&lt;/pre&gt;  &lt;h4&gt;Performance:&lt;/h4&gt; &lt;p&gt;Typically completes in 5-15 seconds. Multiple techniques run in parallel.&lt;/p&gt;  &lt;h4&gt;Note:&lt;/h4&gt; &lt;p&gt;The &lt;code&gt;check_registration&lt;/code&gt;, &lt;code&gt;include_dns&lt;/code&gt;, and &lt;code&gt;include_risk_score&lt;/code&gt; options are not currently supported by the backend service and will be ignored.&lt;/p&gt; 
        /// </remarks>
        /// <param name="similarDomainsOpsRequest">Similar domains request with domain and options.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISimilarDomainsApiResponse"/>&gt;</returns>
        Task<ISimilarDomainsApiResponse> SimilarDomainsOrDefaultAsync(SimilarDomainsOpsRequest similarDomainsOpsRequest, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IBulkEnrichmentApiResponse"/>
    /// </summary>
    public interface IBulkEnrichmentApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IAccepted<Whisper.Api.Sdk.Model.JobResponse>, IOk<Whisper.Api.Sdk.Model.BulkEnrichmentResult>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, ITooManyRequests<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }
    }

    /// <summary>
    /// The <see cref="IGetIndicatorApiResponse"/>
    /// </summary>
    public interface IGetIndicatorApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.IndicatorResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>, ITooManyRequests<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }
    }

    /// <summary>
    /// The <see cref="IGetIndicatorGraphApiResponse"/>
    /// </summary>
    public interface IGetIndicatorGraphApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.GraphResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="IGetIndicatorHistoryApiResponse"/>
    /// </summary>
    public interface IGetIndicatorHistoryApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.HistoryResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="IGetPredictiveRiskApiResponse"/>
    /// </summary>
    public interface IGetPredictiveRiskApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.PredictiveRiskResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="IGetSubdomainsApiResponse"/>
    /// </summary>
    public interface IGetSubdomainsApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.SubdomainResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="ISearchIndicatorsApiResponse"/>
    /// </summary>
    public interface ISearchIndicatorsApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IAccepted<Whisper.Api.Sdk.Model.JobResponse>, IOk<Whisper.Api.Sdk.Model.SearchResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, ITooManyRequests<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }
    }

    /// <summary>
    /// The <see cref="ISimilarDomainsApiResponse"/>
    /// </summary>
    public interface ISimilarDomainsApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IAccepted<Whisper.Api.Sdk.Model.JobResponse>, IOk<Whisper.Api.Sdk.Model.SimilarDomainsResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class EnrichmentApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnBulkEnrichment;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorBulkEnrichment;

        internal void ExecuteOnBulkEnrichment(EnrichmentApi.BulkEnrichmentApiResponse apiResponse)
        {
            OnBulkEnrichment?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorBulkEnrichment(Exception exception)
        {
            OnErrorBulkEnrichment?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetIndicator;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetIndicator;

        internal void ExecuteOnGetIndicator(EnrichmentApi.GetIndicatorApiResponse apiResponse)
        {
            OnGetIndicator?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetIndicator(Exception exception)
        {
            OnErrorGetIndicator?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetIndicatorGraph;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetIndicatorGraph;

        internal void ExecuteOnGetIndicatorGraph(EnrichmentApi.GetIndicatorGraphApiResponse apiResponse)
        {
            OnGetIndicatorGraph?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetIndicatorGraph(Exception exception)
        {
            OnErrorGetIndicatorGraph?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetIndicatorHistory;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetIndicatorHistory;

        internal void ExecuteOnGetIndicatorHistory(EnrichmentApi.GetIndicatorHistoryApiResponse apiResponse)
        {
            OnGetIndicatorHistory?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetIndicatorHistory(Exception exception)
        {
            OnErrorGetIndicatorHistory?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetPredictiveRisk;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetPredictiveRisk;

        internal void ExecuteOnGetPredictiveRisk(EnrichmentApi.GetPredictiveRiskApiResponse apiResponse)
        {
            OnGetPredictiveRisk?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetPredictiveRisk(Exception exception)
        {
            OnErrorGetPredictiveRisk?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetSubdomains;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetSubdomains;

        internal void ExecuteOnGetSubdomains(EnrichmentApi.GetSubdomainsApiResponse apiResponse)
        {
            OnGetSubdomains?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetSubdomains(Exception exception)
        {
            OnErrorGetSubdomains?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnSearchIndicators;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorSearchIndicators;

        internal void ExecuteOnSearchIndicators(EnrichmentApi.SearchIndicatorsApiResponse apiResponse)
        {
            OnSearchIndicators?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSearchIndicators(Exception exception)
        {
            OnErrorSearchIndicators?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnSimilarDomains;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorSimilarDomains;

        internal void ExecuteOnSimilarDomains(EnrichmentApi.SimilarDomainsApiResponse apiResponse)
        {
            OnSimilarDomains?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSimilarDomains(Exception exception)
        {
            OnErrorSimilarDomains?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class EnrichmentApi : IEnrichmentApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<EnrichmentApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public EnrichmentApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="EnrichmentApi"/> class.
        /// </summary>
        /// <returns></returns>
        public EnrichmentApi(ILogger<EnrichmentApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, EnrichmentApiEvents enrichmentApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<EnrichmentApi>();
            HttpClient = httpClient;
            Events = enrichmentApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatBulkEnrichment(BulkRequest bulkRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="bulkRequest"></param>
        /// <returns></returns>
        private void ValidateBulkEnrichment(BulkRequest bulkRequest)
        {
            if (bulkRequest == null)
                throw new ArgumentNullException(nameof(bulkRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="bulkRequest"></param>
        private void AfterBulkEnrichmentDefaultImplementation(IBulkEnrichmentApiResponse apiResponseLocalVar, BulkRequest bulkRequest)
        {
            bool suppressDefaultLog = false;
            AfterBulkEnrichment(ref suppressDefaultLog, apiResponseLocalVar, bulkRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="bulkRequest"></param>
        partial void AfterBulkEnrichment(ref bool suppressDefaultLog, IBulkEnrichmentApiResponse apiResponseLocalVar, BulkRequest bulkRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="bulkRequest"></param>
        private void OnErrorBulkEnrichmentDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, BulkRequest bulkRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorBulkEnrichment(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, bulkRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="bulkRequest"></param>
        partial void OnErrorBulkEnrichment(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, BulkRequest bulkRequest);

        /// <summary>
        /// Bulk Indicator Enrichment (Asynchronous) &lt;p&gt;Process multiple indicators (IPs and/or domains) in a single request. This endpoint is optimized for batch processing and can handle up to 100 indicators per request.&lt;/p&gt;  &lt;h4&gt;Performance&lt;/h4&gt; &lt;p&gt;Processing time depends on batch size and indicator types. IP enrichment is faster than domain enrichment.&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;IPs only:&lt;/b&gt; 2-10 seconds for typical batches&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Domains only:&lt;/b&gt; 10-30 seconds (WHOIS lookups are slower)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Mixed:&lt;/b&gt; 5-30 seconds depending on ratio&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Rate Limits&lt;/h4&gt; &lt;p&gt;Limited to 10 requests per minute due to the resource-intensive nature of bulk operations.&lt;/p&gt;  &lt;h4&gt;Response Structure&lt;/h4&gt; &lt;p&gt;When the job completes, the &lt;code&gt;result&lt;/code&gt; field contains:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;status&lt;/code&gt;: \&quot;completed\&quot; or \&quot;failed\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;results&lt;/code&gt;: Array of enriched indicator objects (see below)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;errors&lt;/code&gt;: Array of failed enrichments with error details&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalProcessed&lt;/code&gt;: Number of indicators processed&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalFailed&lt;/code&gt;: Number of failed enrichments&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalIndicators&lt;/code&gt;: Total indicators in request&lt;/li&gt;     &lt;li&gt;&lt;code&gt;successRate&lt;/code&gt;: Percentage of successful enrichments (0-100)&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Result Item Structure&lt;/h4&gt; &lt;p&gt;Each item in the &lt;code&gt;results&lt;/code&gt; array includes:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;indicator&lt;/code&gt;: The original indicator value&lt;/li&gt;     &lt;li&gt;&lt;code&gt;type&lt;/code&gt;: \&quot;ip\&quot; or \&quot;domain\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;query&lt;/code&gt;: Request metadata (type, value, timestamp, response_time_ms)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;summary&lt;/code&gt;: Key information summary&lt;/li&gt; &lt;/ul&gt;  &lt;p&gt;&lt;b&gt;For IP indicators:&lt;/b&gt;&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;geolocation&lt;/code&gt;: Country, city, coordinates, ISP, ASN&lt;/li&gt;     &lt;li&gt;&lt;code&gt;network&lt;/code&gt;: BGP routing data, prefix visibility, origins&lt;/li&gt;     &lt;li&gt;&lt;code&gt;isp&lt;/code&gt;: ISP name, organization, ASN&lt;/li&gt;     &lt;li&gt;&lt;code&gt;reputation&lt;/code&gt;: Risk score, blacklist scores&lt;/li&gt;     &lt;li&gt;&lt;code&gt;relationships&lt;/code&gt;: Related domains, shared infrastructure&lt;/li&gt; &lt;/ul&gt;  &lt;p&gt;&lt;b&gt;For domain indicators:&lt;/b&gt;&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;registration&lt;/code&gt;: WHOIS data (registrar, dates, nameservers, status)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;dns&lt;/code&gt;: DNS records (A, AAAA, MX, NS, TXT, CNAME)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;reputation&lt;/code&gt;: Domain reputation, infrastructure scores&lt;/li&gt;     &lt;li&gt;&lt;code&gt;relationships&lt;/code&gt;: Related domains, incoming/outgoing links&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Error Item Structure&lt;/h4&gt; &lt;p&gt;Each item in the &lt;code&gt;errors&lt;/code&gt; array includes:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;indicator&lt;/code&gt;: The indicator that failed&lt;/li&gt;     &lt;li&gt;&lt;code&gt;type&lt;/code&gt;: \&quot;ip\&quot; or \&quot;domain\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;error&lt;/code&gt;: true&lt;/li&gt;     &lt;li&gt;&lt;code&gt;message&lt;/code&gt;: Error description&lt;/li&gt; &lt;/ul&gt; 
        /// </summary>
        /// <param name="bulkRequest">List of indicators and processing options.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IBulkEnrichmentApiResponse"/>&gt;</returns>
        public async Task<IBulkEnrichmentApiResponse> BulkEnrichmentOrDefaultAsync(BulkRequest bulkRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await BulkEnrichmentAsync(bulkRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Bulk Indicator Enrichment (Asynchronous) &lt;p&gt;Process multiple indicators (IPs and/or domains) in a single request. This endpoint is optimized for batch processing and can handle up to 100 indicators per request.&lt;/p&gt;  &lt;h4&gt;Performance&lt;/h4&gt; &lt;p&gt;Processing time depends on batch size and indicator types. IP enrichment is faster than domain enrichment.&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;IPs only:&lt;/b&gt; 2-10 seconds for typical batches&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Domains only:&lt;/b&gt; 10-30 seconds (WHOIS lookups are slower)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Mixed:&lt;/b&gt; 5-30 seconds depending on ratio&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Rate Limits&lt;/h4&gt; &lt;p&gt;Limited to 10 requests per minute due to the resource-intensive nature of bulk operations.&lt;/p&gt;  &lt;h4&gt;Response Structure&lt;/h4&gt; &lt;p&gt;When the job completes, the &lt;code&gt;result&lt;/code&gt; field contains:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;status&lt;/code&gt;: \&quot;completed\&quot; or \&quot;failed\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;results&lt;/code&gt;: Array of enriched indicator objects (see below)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;errors&lt;/code&gt;: Array of failed enrichments with error details&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalProcessed&lt;/code&gt;: Number of indicators processed&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalFailed&lt;/code&gt;: Number of failed enrichments&lt;/li&gt;     &lt;li&gt;&lt;code&gt;totalIndicators&lt;/code&gt;: Total indicators in request&lt;/li&gt;     &lt;li&gt;&lt;code&gt;successRate&lt;/code&gt;: Percentage of successful enrichments (0-100)&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Result Item Structure&lt;/h4&gt; &lt;p&gt;Each item in the &lt;code&gt;results&lt;/code&gt; array includes:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;indicator&lt;/code&gt;: The original indicator value&lt;/li&gt;     &lt;li&gt;&lt;code&gt;type&lt;/code&gt;: \&quot;ip\&quot; or \&quot;domain\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;query&lt;/code&gt;: Request metadata (type, value, timestamp, response_time_ms)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;summary&lt;/code&gt;: Key information summary&lt;/li&gt; &lt;/ul&gt;  &lt;p&gt;&lt;b&gt;For IP indicators:&lt;/b&gt;&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;geolocation&lt;/code&gt;: Country, city, coordinates, ISP, ASN&lt;/li&gt;     &lt;li&gt;&lt;code&gt;network&lt;/code&gt;: BGP routing data, prefix visibility, origins&lt;/li&gt;     &lt;li&gt;&lt;code&gt;isp&lt;/code&gt;: ISP name, organization, ASN&lt;/li&gt;     &lt;li&gt;&lt;code&gt;reputation&lt;/code&gt;: Risk score, blacklist scores&lt;/li&gt;     &lt;li&gt;&lt;code&gt;relationships&lt;/code&gt;: Related domains, shared infrastructure&lt;/li&gt; &lt;/ul&gt;  &lt;p&gt;&lt;b&gt;For domain indicators:&lt;/b&gt;&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;registration&lt;/code&gt;: WHOIS data (registrar, dates, nameservers, status)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;dns&lt;/code&gt;: DNS records (A, AAAA, MX, NS, TXT, CNAME)&lt;/li&gt;     &lt;li&gt;&lt;code&gt;reputation&lt;/code&gt;: Domain reputation, infrastructure scores&lt;/li&gt;     &lt;li&gt;&lt;code&gt;relationships&lt;/code&gt;: Related domains, incoming/outgoing links&lt;/li&gt; &lt;/ul&gt;  &lt;h4&gt;Error Item Structure&lt;/h4&gt; &lt;p&gt;Each item in the &lt;code&gt;errors&lt;/code&gt; array includes:&lt;/p&gt; &lt;ul&gt;     &lt;li&gt;&lt;code&gt;indicator&lt;/code&gt;: The indicator that failed&lt;/li&gt;     &lt;li&gt;&lt;code&gt;type&lt;/code&gt;: \&quot;ip\&quot; or \&quot;domain\&quot;&lt;/li&gt;     &lt;li&gt;&lt;code&gt;error&lt;/code&gt;: true&lt;/li&gt;     &lt;li&gt;&lt;code&gt;message&lt;/code&gt;: Error description&lt;/li&gt; &lt;/ul&gt; 
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bulkRequest">List of indicators and processing options.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IBulkEnrichmentApiResponse"/>&gt;</returns>
        public async Task<IBulkEnrichmentApiResponse> BulkEnrichmentAsync(BulkRequest bulkRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateBulkEnrichment(bulkRequest);

                FormatBulkEnrichment(bulkRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/v1/ops/enrichment/bulk"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/v1/ops/enrichment/bulk");

                    httpRequestMessageLocalVar.Content = (bulkRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(bulkRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<BulkEnrichmentApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<BulkEnrichmentApiResponse>();
                        BulkEnrichmentApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/v1/ops/enrichment/bulk", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterBulkEnrichmentDefaultImplementation(apiResponseLocalVar, bulkRequest);

                        Events.ExecuteOnBulkEnrichment(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorBulkEnrichmentDefaultImplementation(e, "/v1/ops/enrichment/bulk", uriBuilderLocalVar.Path, bulkRequest);
                Events.ExecuteOnErrorBulkEnrichment(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="BulkEnrichmentApiResponse"/>
        /// </summary>
        public partial class BulkEnrichmentApiResponse : Whisper.Api.Sdk.Client.ApiResponse, IBulkEnrichmentApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<BulkEnrichmentApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="BulkEnrichmentApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public BulkEnrichmentApiResponse(ILogger<BulkEnrichmentApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="BulkEnrichmentApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public BulkEnrichmentApiResponse(ILogger<BulkEnrichmentApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public bool IsAccepted => 202 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.JobResponse Accepted()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsAccepted
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.JobResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 202 Accepted and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryAccepted([NotNullWhen(true)]out Whisper.Api.Sdk.Model.JobResponse result)
            {
                result = null;

                try
                {
                    result = Accepted();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)202);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.BulkEnrichmentResult Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.BulkEnrichmentResult>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Whisper.Api.Sdk.Model.BulkEnrichmentResult result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryBadRequest([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

[...]
