// <auto-generated>
/*
 * Whisper Security API
 *
 * # Whisper Security Threat Intelligence API  The Whisper Security API provides comprehensive threat intelligence, geolocation data, and security operations capabilities for enterprise security teams and developers.  ## Key Capabilities  - **Indicator Enrichment**: Get comprehensive intelligence on IP addresses and domains including   geolocation, WHOIS, DNS, reputation scoring, and relationship mapping. - **Geolocation Services**: Fast IP-to-location lookups with ISP, ASN, and network information. - **Security Operations**: Asynchronous tools for bulk enrichment, infrastructure scanning,   AI-powered threat investigation, and monitoring.  ## API Design  - **RESTful**: Standard HTTP methods (GET, POST, PUT, DELETE) with JSON request/response bodies. - **Synchronous Endpoints**: Fast responses (<500ms) for indicator enrichment and geolocation. - **Asynchronous Jobs**: Long-running operations return a job ID for polling results. - **Consistent Error Handling**: Standardized error responses with status codes, error codes, and messages.  ## Authentication  All API endpoints require Bearer token authentication. Include your API key in the `Authorization` header: `Authorization: Bearer <your-api-key>`  ## Rate Limits  Rate limits are applied per-user and vary by endpoint category:  | Endpoint Category | Rate Limit | Description | |- -- -- -- -- -- -- -- -- --|- -- -- -- -- -- -|- -- -- -- -- -- --| | Indicators (`/v1/indicators/_*`) | 100 req/sec | Single indicator enrichment | | Location (`/v1/location/_*`) | 100 req/sec | Geolocation lookups | | Jobs (`/v1/ops/jobs/_*`) | 100 req/sec | Job status and listing | | Bulk Operations (`/v1/ops/enrichment/bulk`) | 10 req/sec | Bulk indicator processing | | Screenshots (`/v1/ops/screenshots/_*`) | 10 req/sec | Screenshot capture and scheduling | | Scans (`/v1/ops/scans/_*`) | 10 req/sec | Infrastructure scanning | | Monitoring (`/v1/ops/monitoring/_*`) | 10 req/sec | Uptime monitoring | | Tracking (`/v1/ops/tracking/_*`) | 10 req/sec | Change tracking | | AI Investigate (`/v1/ops/ai/investigate`) | 5 req/min | Deep threat investigation | | AI Correlate (`/v1/ops/ai/correlate`) | 5 req/min | Global correlation | | AI Attribute (`/v1/ops/ai/attribute`) | 5 req/min | Threat actor attribution | | AI Pivot (`/v1/ops/ai/pivot`) | 5 req/min | Infrastructure pivoting |  When rate limits are exceeded, the API returns HTTP `429 Too Many Requests` with a `Retry-After` header indicating when you can retry. The response body includes: ```json {   \"error\": \"Too Many Requests\",   \"message\": \"Rate limit exceeded for <category>. Please retry after N seconds.\",   \"retryAfter\": N } ```  ## Response Conventions  - All timestamps are in ISO 8601 format (UTC). - Pagination uses `limit` and `offset` parameters. - Field names use camelCase throughout the API.  ## Official SDKs  - **Python**: [github.com/whisper-sec/sdk-python](https://github.com/whisper-sec/sdk-python) - **TypeScript/JavaScript**: [github.com/whisper-sec/sdk-typescript](https://github.com/whisper-sec/sdk-typescript) - **Java**: [github.com/whisper-sec/sdk-java](https://github.com/whisper-sec/sdk-java) - **C#/.NET**: [github.com/whisper-sec/sdk-csharp](https://github.com/whisper-sec/sdk-csharp)  ## Resources  - **Website**: [whisper.security](https://whisper.security) - **Dashboard**: [dash.whisper.security](https://dash.whisper.security) - Manage API keys and view usage - **Documentation**: [docs.whisper.security](https://docs.whisper.security) - Guides and tutorials 
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@whisper.security
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Whisper.Api.Sdk.Client;
using Whisper.Api.Sdk.Model;
using System.Diagnostics.CodeAnalysis;

namespace Whisper.Api.Sdk.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IMonitoringApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        MonitoringApiEvents Events { get; }

        /// <summary>
        /// Create Monitoring Check
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Create a new monitoring check to track uptime and performance of a URL or endpoint.&lt;/p&gt; &lt;h4&gt;Check Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;api:&lt;/b&gt; HTTP/HTTPS endpoint monitoring - checks status code, response time, content&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl:&lt;/b&gt; SSL certificate monitoring - validates certificate and tracks expiry&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns:&lt;/b&gt; DNS record monitoring - validates DNS resolution and record values&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Frequency Options:&lt;/h4&gt; &lt;p&gt;Check frequency in minutes: 1, 5, 10, 15, 30, 60, 1440 (daily)&lt;/p&gt; &lt;h4&gt;Locations:&lt;/h4&gt; &lt;p&gt;Checks can run from multiple global locations: us-east-1, us-west-1, eu-west-1, ap-southeast-1&lt;/p&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="monitorCheckRequest">Monitoring check configuration</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateMonitorCheckApiResponse"/>&gt;</returns>
        Task<ICreateMonitorCheckApiResponse> CreateMonitorCheckAsync(MonitorCheckRequest monitorCheckRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Create Monitoring Check
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Create a new monitoring check to track uptime and performance of a URL or endpoint.&lt;/p&gt; &lt;h4&gt;Check Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;api:&lt;/b&gt; HTTP/HTTPS endpoint monitoring - checks status code, response time, content&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl:&lt;/b&gt; SSL certificate monitoring - validates certificate and tracks expiry&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns:&lt;/b&gt; DNS record monitoring - validates DNS resolution and record values&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Frequency Options:&lt;/h4&gt; &lt;p&gt;Check frequency in minutes: 1, 5, 10, 15, 30, 60, 1440 (daily)&lt;/p&gt; &lt;h4&gt;Locations:&lt;/h4&gt; &lt;p&gt;Checks can run from multiple global locations: us-east-1, us-west-1, eu-west-1, ap-southeast-1&lt;/p&gt; 
        /// </remarks>
        /// <param name="monitorCheckRequest">Monitoring check configuration</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateMonitorCheckApiResponse"/>&gt;</returns>
        Task<ICreateMonitorCheckApiResponse> CreateMonitorCheckOrDefaultAsync(MonitorCheckRequest monitorCheckRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Configure Monitoring Alert
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Configure alert notifications for a monitored target. Set up notifications for downtime, SSL expiry, DNS changes, and more.&lt;/p&gt; &lt;h4&gt;Alert Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;downtime:&lt;/b&gt; Alert when target becomes unreachable&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns_change:&lt;/b&gt; Alert when DNS records change&lt;/li&gt;     &lt;li&gt;&lt;b&gt;whois_change:&lt;/b&gt; Alert when WHOIS data changes&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl_expiring:&lt;/b&gt; Alert when SSL certificate is expiring (within threshold days)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;content_change:&lt;/b&gt; Alert when page content changes significantly&lt;/li&gt;     &lt;li&gt;&lt;b&gt;technology_change:&lt;/b&gt; Alert when detected technologies change&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Notification Channels:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;email:&lt;/b&gt; Send alerts via email&lt;/li&gt;     &lt;li&gt;&lt;b&gt;slack:&lt;/b&gt; Post to Slack webhook&lt;/li&gt;     &lt;li&gt;&lt;b&gt;webhook:&lt;/b&gt; POST to custom webhook URL&lt;/li&gt;     &lt;li&gt;&lt;b&gt;pagerduty:&lt;/b&gt; Create PagerDuty incident&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="target">The domain or IP address to configure alerts for.</param>
        /// <param name="monitoringAlertRequest">Alert configuration including type, thresholds, and notification channels.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateMonitoringAlertApiResponse"/>&gt;</returns>
        Task<ICreateMonitoringAlertApiResponse> CreateMonitoringAlertAsync(string target, MonitoringAlertRequest monitoringAlertRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Configure Monitoring Alert
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Configure alert notifications for a monitored target. Set up notifications for downtime, SSL expiry, DNS changes, and more.&lt;/p&gt; &lt;h4&gt;Alert Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;downtime:&lt;/b&gt; Alert when target becomes unreachable&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns_change:&lt;/b&gt; Alert when DNS records change&lt;/li&gt;     &lt;li&gt;&lt;b&gt;whois_change:&lt;/b&gt; Alert when WHOIS data changes&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl_expiring:&lt;/b&gt; Alert when SSL certificate is expiring (within threshold days)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;content_change:&lt;/b&gt; Alert when page content changes significantly&lt;/li&gt;     &lt;li&gt;&lt;b&gt;technology_change:&lt;/b&gt; Alert when detected technologies change&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Notification Channels:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;email:&lt;/b&gt; Send alerts via email&lt;/li&gt;     &lt;li&gt;&lt;b&gt;slack:&lt;/b&gt; Post to Slack webhook&lt;/li&gt;     &lt;li&gt;&lt;b&gt;webhook:&lt;/b&gt; POST to custom webhook URL&lt;/li&gt;     &lt;li&gt;&lt;b&gt;pagerduty:&lt;/b&gt; Create PagerDuty incident&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="target">The domain or IP address to configure alerts for.</param>
        /// <param name="monitoringAlertRequest">Alert configuration including type, thresholds, and notification channels.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateMonitoringAlertApiResponse"/>&gt;</returns>
        Task<ICreateMonitoringAlertApiResponse> CreateMonitoringAlertOrDefaultAsync(string target, MonitoringAlertRequest monitoringAlertRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Delete Monitoring Check
        /// </summary>
        /// <remarks>
        /// Delete a monitoring check and stop all monitoring for the target.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="checkId">Check ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteMonitorCheckApiResponse"/>&gt;</returns>
        Task<IDeleteMonitorCheckApiResponse> DeleteMonitorCheckAsync(string checkId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Delete Monitoring Check
        /// </summary>
        /// <remarks>
        /// Delete a monitoring check and stop all monitoring for the target.
        /// </remarks>
        /// <param name="checkId">Check ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteMonitorCheckApiResponse"/>&gt;</returns>
        Task<IDeleteMonitorCheckApiResponse> DeleteMonitorCheckOrDefaultAsync(string checkId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Monitoring Check
        /// </summary>
        /// <remarks>
        /// Get details of a specific monitoring check including uptime metrics.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="checkId">Check ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetMonitorCheckApiResponse"/>&gt;</returns>
        Task<IGetMonitorCheckApiResponse> GetMonitorCheckAsync(string checkId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Monitoring Check
        /// </summary>
        /// <remarks>
        /// Get details of a specific monitoring check including uptime metrics.
        /// </remarks>
        /// <param name="checkId">Check ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetMonitorCheckApiResponse"/>&gt;</returns>
        Task<IGetMonitorCheckApiResponse> GetMonitorCheckOrDefaultAsync(string checkId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Monitoring Dashboard
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Get aggregated dashboard statistics for all monitoring checks.&lt;/p&gt; &lt;h4&gt;Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Total, passing, failing, and degraded check counts&lt;/li&gt;     &lt;li&gt;Average uptime percentages (24h, 7d, 30d)&lt;/li&gt;     &lt;li&gt;Average response time&lt;/li&gt;     &lt;li&gt;Checks grouped by type and status&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetMonitorDashboardApiResponse"/>&gt;</returns>
        Task<IGetMonitorDashboardApiResponse> GetMonitorDashboardAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Monitoring Dashboard
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Get aggregated dashboard statistics for all monitoring checks.&lt;/p&gt; &lt;h4&gt;Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Total, passing, failing, and degraded check counts&lt;/li&gt;     &lt;li&gt;Average uptime percentages (24h, 7d, 30d)&lt;/li&gt;     &lt;li&gt;Average response time&lt;/li&gt;     &lt;li&gt;Checks grouped by type and status&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetMonitorDashboardApiResponse"/>&gt;</returns>
        Task<IGetMonitorDashboardApiResponse> GetMonitorDashboardOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Check Results
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Get the execution history for a monitoring check.&lt;/p&gt; &lt;h4&gt;Response includes for each result:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Timestamp of execution&lt;/li&gt;     &lt;li&gt;Success/failure status&lt;/li&gt;     &lt;li&gt;Response time&lt;/li&gt;     &lt;li&gt;HTTP status code (for API checks)&lt;/li&gt;     &lt;li&gt;Error message (if failed)&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="checkId">Check ID</param>
        /// <param name="limit">Maximum number of results to return (optional, default to 10)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetMonitorResultsApiResponse"/>&gt;</returns>
        Task<IGetMonitorResultsApiResponse> GetMonitorResultsAsync(string checkId, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Check Results
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Get the execution history for a monitoring check.&lt;/p&gt; &lt;h4&gt;Response includes for each result:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Timestamp of execution&lt;/li&gt;     &lt;li&gt;Success/failure status&lt;/li&gt;     &lt;li&gt;Response time&lt;/li&gt;     &lt;li&gt;HTTP status code (for API checks)&lt;/li&gt;     &lt;li&gt;Error message (if failed)&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="checkId">Check ID</param>
        /// <param name="limit">Maximum number of results to return (optional, default to 10)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetMonitorResultsApiResponse"/>&gt;</returns>
        Task<IGetMonitorResultsApiResponse> GetMonitorResultsOrDefaultAsync(string checkId, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Monitoring Status
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Get the current monitoring status and metrics for a domain or IP address.&lt;/p&gt; &lt;h4&gt;Metrics Returned:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Uptime percentage (last 30 days)&lt;/li&gt;     &lt;li&gt;Average response time&lt;/li&gt;     &lt;li&gt;SSL certificate expiration countdown&lt;/li&gt;     &lt;li&gt;DNS change events&lt;/li&gt;     &lt;li&gt;WHOIS change events&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="target">The domain or IP address to check monitoring status for.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetMonitoringStatusApiResponse"/>&gt;</returns>
        Task<IGetMonitoringStatusApiResponse> GetMonitoringStatusAsync(string target, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Monitoring Status
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Get the current monitoring status and metrics for a domain or IP address.&lt;/p&gt; &lt;h4&gt;Metrics Returned:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Uptime percentage (last 30 days)&lt;/li&gt;     &lt;li&gt;Average response time&lt;/li&gt;     &lt;li&gt;SSL certificate expiration countdown&lt;/li&gt;     &lt;li&gt;DNS change events&lt;/li&gt;     &lt;li&gt;WHOIS change events&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="target">The domain or IP address to check monitoring status for.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetMonitoringStatusApiResponse"/>&gt;</returns>
        Task<IGetMonitoringStatusApiResponse> GetMonitoringStatusOrDefaultAsync(string target, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List Monitoring Checks
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Get a list of all monitoring checks created by the authenticated user.&lt;/p&gt; &lt;h4&gt;Filtering:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;type:&lt;/b&gt; Filter by check type (api, ssl, dns)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;status:&lt;/b&gt; Filter by status (passing, failing, degraded, pending)&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="type">Filter by check type (optional)</param>
        /// <param name="status">Filter by status (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListMonitorChecksApiResponse"/>&gt;</returns>
        Task<IListMonitorChecksApiResponse> ListMonitorChecksAsync(Option<string> type = default, Option<string> status = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List Monitoring Checks
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Get a list of all monitoring checks created by the authenticated user.&lt;/p&gt; &lt;h4&gt;Filtering:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;type:&lt;/b&gt; Filter by check type (api, ssl, dns)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;status:&lt;/b&gt; Filter by status (passing, failing, degraded, pending)&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="type">Filter by check type (optional)</param>
        /// <param name="status">Filter by status (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListMonitorChecksApiResponse"/>&gt;</returns>
        Task<IListMonitorChecksApiResponse> ListMonitorChecksOrDefaultAsync(Option<string> type = default, Option<string> status = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Trigger Manual Check
        /// </summary>
        /// <remarks>
        /// Trigger an immediate execution of a monitoring check.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="checkId">Check ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITriggerMonitorCheckApiResponse"/>&gt;</returns>
        Task<ITriggerMonitorCheckApiResponse> TriggerMonitorCheckAsync(string checkId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Trigger Manual Check
        /// </summary>
        /// <remarks>
        /// Trigger an immediate execution of a monitoring check.
        /// </remarks>
        /// <param name="checkId">Check ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITriggerMonitorCheckApiResponse"/>&gt;</returns>
        Task<ITriggerMonitorCheckApiResponse> TriggerMonitorCheckOrDefaultAsync(string checkId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Update Monitoring Check
        /// </summary>
        /// <remarks>
        /// Update an existing monitoring check configuration.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="checkId">Check ID</param>
        /// <param name="monitorCheckRequest">Updated check configuration</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IUpdateMonitorCheckApiResponse"/>&gt;</returns>
        Task<IUpdateMonitorCheckApiResponse> UpdateMonitorCheckAsync(string checkId, MonitorCheckRequest monitorCheckRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Update Monitoring Check
        /// </summary>
        /// <remarks>
        /// Update an existing monitoring check configuration.
        /// </remarks>
        /// <param name="checkId">Check ID</param>
        /// <param name="monitorCheckRequest">Updated check configuration</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IUpdateMonitorCheckApiResponse"/>&gt;</returns>
        Task<IUpdateMonitorCheckApiResponse> UpdateMonitorCheckOrDefaultAsync(string checkId, MonitorCheckRequest monitorCheckRequest, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="ICreateMonitorCheckApiResponse"/>
    /// </summary>
    public interface ICreateMonitorCheckApiResponse : Whisper.Api.Sdk.Client.IApiResponse, ICreated<Whisper.Api.Sdk.Model.MonitorCheckResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 201 Created
        /// </summary>
        /// <returns></returns>
        bool IsCreated { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ICreateMonitoringAlertApiResponse"/>
    /// </summary>
    public interface ICreateMonitoringAlertApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IAccepted<Whisper.Api.Sdk.Model.JobResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IDeleteMonitorCheckApiResponse"/>
    /// </summary>
    public interface IDeleteMonitorCheckApiResponse : Whisper.Api.Sdk.Client.IApiResponse, INoContent<Object>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 204 NoContent
        /// </summary>
        /// <returns></returns>
        bool IsNoContent { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IGetMonitorCheckApiResponse"/>
    /// </summary>
    public interface IGetMonitorCheckApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.MonitorCheckResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IGetMonitorDashboardApiResponse"/>
    /// </summary>
    public interface IGetMonitorDashboardApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.MonitorDashboardResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IGetMonitorResultsApiResponse"/>
    /// </summary>
    public interface IGetMonitorResultsApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.MonitorResultListResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IGetMonitoringStatusApiResponse"/>
    /// </summary>
    public interface IGetMonitoringStatusApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.MonitoringStatusResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="IListMonitorChecksApiResponse"/>
    /// </summary>
    public interface IListMonitorChecksApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.MonitorListResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ITriggerMonitorCheckApiResponse"/>
    /// </summary>
    public interface ITriggerMonitorCheckApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IAccepted<Whisper.Api.Sdk.Model.GenericSuccessResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IUpdateMonitorCheckApiResponse"/>
    /// </summary>
    public interface IUpdateMonitorCheckApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.MonitorCheckResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class MonitoringApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnCreateMonitorCheck;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorCreateMonitorCheck;

        internal void ExecuteOnCreateMonitorCheck(MonitoringApi.CreateMonitorCheckApiResponse apiResponse)
        {
            OnCreateMonitorCheck?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCreateMonitorCheck(Exception exception)
        {
            OnErrorCreateMonitorCheck?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnCreateMonitoringAlert;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorCreateMonitoringAlert;

        internal void ExecuteOnCreateMonitoringAlert(MonitoringApi.CreateMonitoringAlertApiResponse apiResponse)
        {
            OnCreateMonitoringAlert?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCreateMonitoringAlert(Exception exception)
        {
            OnErrorCreateMonitoringAlert?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnDeleteMonitorCheck;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorDeleteMonitorCheck;

        internal void ExecuteOnDeleteMonitorCheck(MonitoringApi.DeleteMonitorCheckApiResponse apiResponse)
        {
            OnDeleteMonitorCheck?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDeleteMonitorCheck(Exception exception)
        {
            OnErrorDeleteMonitorCheck?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetMonitorCheck;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetMonitorCheck;

        internal void ExecuteOnGetMonitorCheck(MonitoringApi.GetMonitorCheckApiResponse apiResponse)
        {
            OnGetMonitorCheck?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetMonitorCheck(Exception exception)
        {
            OnErrorGetMonitorCheck?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetMonitorDashboard;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetMonitorDashboard;

        internal void ExecuteOnGetMonitorDashboard(MonitoringApi.GetMonitorDashboardApiResponse apiResponse)
        {
            OnGetMonitorDashboard?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetMonitorDashboard(Exception exception)
        {
            OnErrorGetMonitorDashboard?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetMonitorResults;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetMonitorResults;

        internal void ExecuteOnGetMonitorResults(MonitoringApi.GetMonitorResultsApiResponse apiResponse)
        {
            OnGetMonitorResults?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetMonitorResults(Exception exception)
        {
            OnErrorGetMonitorResults?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetMonitoringStatus;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetMonitoringStatus;

        internal void ExecuteOnGetMonitoringStatus(MonitoringApi.GetMonitoringStatusApiResponse apiResponse)
        {
            OnGetMonitoringStatus?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetMonitoringStatus(Exception exception)
        {
            OnErrorGetMonitoringStatus?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnListMonitorChecks;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorListMonitorChecks;

        internal void ExecuteOnListMonitorChecks(MonitoringApi.ListMonitorChecksApiResponse apiResponse)
        {
            OnListMonitorChecks?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListMonitorChecks(Exception exception)
        {
            OnErrorListMonitorChecks?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnTriggerMonitorCheck;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorTriggerMonitorCheck;

        internal void ExecuteOnTriggerMonitorCheck(MonitoringApi.TriggerMonitorCheckApiResponse apiResponse)
        {
            OnTriggerMonitorCheck?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorTriggerMonitorCheck(Exception exception)
        {
            OnErrorTriggerMonitorCheck?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnUpdateMonitorCheck;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorUpdateMonitorCheck;

        internal void ExecuteOnUpdateMonitorCheck(MonitoringApi.UpdateMonitorCheckApiResponse apiResponse)
        {
            OnUpdateMonitorCheck?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorUpdateMonitorCheck(Exception exception)
        {
            OnErrorUpdateMonitorCheck?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class MonitoringApi : IMonitoringApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<MonitoringApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public MonitoringApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="MonitoringApi"/> class.
        /// </summary>
        /// <returns></returns>
        public MonitoringApi(ILogger<MonitoringApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, MonitoringApiEvents monitoringApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<MonitoringApi>();
            HttpClient = httpClient;
            Events = monitoringApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatCreateMonitorCheck(MonitorCheckRequest monitorCheckRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="monitorCheckRequest"></param>
        /// <returns></returns>
        private void ValidateCreateMonitorCheck(MonitorCheckRequest monitorCheckRequest)
        {
            if (monitorCheckRequest == null)
                throw new ArgumentNullException(nameof(monitorCheckRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="monitorCheckRequest"></param>
        private void AfterCreateMonitorCheckDefaultImplementation(ICreateMonitorCheckApiResponse apiResponseLocalVar, MonitorCheckRequest monitorCheckRequest)
        {
            bool suppressDefaultLog = false;
            AfterCreateMonitorCheck(ref suppressDefaultLog, apiResponseLocalVar, monitorCheckRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="monitorCheckRequest"></param>
        partial void AfterCreateMonitorCheck(ref bool suppressDefaultLog, ICreateMonitorCheckApiResponse apiResponseLocalVar, MonitorCheckRequest monitorCheckRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="monitorCheckRequest"></param>
        private void OnErrorCreateMonitorCheckDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, MonitorCheckRequest monitorCheckRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorCreateMonitorCheck(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, monitorCheckRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="monitorCheckRequest"></param>
        partial void OnErrorCreateMonitorCheck(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, MonitorCheckRequest monitorCheckRequest);

        /// <summary>
        /// Create Monitoring Check &lt;p&gt;Create a new monitoring check to track uptime and performance of a URL or endpoint.&lt;/p&gt; &lt;h4&gt;Check Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;api:&lt;/b&gt; HTTP/HTTPS endpoint monitoring - checks status code, response time, content&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl:&lt;/b&gt; SSL certificate monitoring - validates certificate and tracks expiry&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns:&lt;/b&gt; DNS record monitoring - validates DNS resolution and record values&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Frequency Options:&lt;/h4&gt; &lt;p&gt;Check frequency in minutes: 1, 5, 10, 15, 30, 60, 1440 (daily)&lt;/p&gt; &lt;h4&gt;Locations:&lt;/h4&gt; &lt;p&gt;Checks can run from multiple global locations: us-east-1, us-west-1, eu-west-1, ap-southeast-1&lt;/p&gt; 
        /// </summary>
        /// <param name="monitorCheckRequest">Monitoring check configuration</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateMonitorCheckApiResponse"/>&gt;</returns>
        public async Task<ICreateMonitorCheckApiResponse> CreateMonitorCheckOrDefaultAsync(MonitorCheckRequest monitorCheckRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await CreateMonitorCheckAsync(monitorCheckRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Create Monitoring Check &lt;p&gt;Create a new monitoring check to track uptime and performance of a URL or endpoint.&lt;/p&gt; &lt;h4&gt;Check Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;api:&lt;/b&gt; HTTP/HTTPS endpoint monitoring - checks status code, response time, content&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl:&lt;/b&gt; SSL certificate monitoring - validates certificate and tracks expiry&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns:&lt;/b&gt; DNS record monitoring - validates DNS resolution and record values&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Frequency Options:&lt;/h4&gt; &lt;p&gt;Check frequency in minutes: 1, 5, 10, 15, 30, 60, 1440 (daily)&lt;/p&gt; &lt;h4&gt;Locations:&lt;/h4&gt; &lt;p&gt;Checks can run from multiple global locations: us-east-1, us-west-1, eu-west-1, ap-southeast-1&lt;/p&gt; 
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="monitorCheckRequest">Monitoring check configuration</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateMonitorCheckApiResponse"/>&gt;</returns>
        public async Task<ICreateMonitorCheckApiResponse> CreateMonitorCheckAsync(MonitorCheckRequest monitorCheckRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateCreateMonitorCheck(monitorCheckRequest);

                FormatCreateMonitorCheck(monitorCheckRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/v1/ops/monitoring"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/v1/ops/monitoring");

                    httpRequestMessageLocalVar.Content = (monitorCheckRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(monitorCheckRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<CreateMonitorCheckApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<CreateMonitorCheckApiResponse>();
                        CreateMonitorCheckApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/v1/ops/monitoring", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterCreateMonitorCheckDefaultImplementation(apiResponseLocalVar, monitorCheckRequest);

                        Events.ExecuteOnCreateMonitorCheck(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorCreateMonitorCheckDefaultImplementation(e, "/v1/ops/monitoring", uriBuilderLocalVar.Path, monitorCheckRequest);
                Events.ExecuteOnErrorCreateMonitorCheck(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="CreateMonitorCheckApiResponse"/>
        /// </summary>
        public partial class CreateMonitorCheckApiResponse : Whisper.Api.Sdk.Client.ApiResponse, ICreateMonitorCheckApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<CreateMonitorCheckApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="CreateMonitorCheckApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public CreateMonitorCheckApiResponse(ILogger<CreateMonitorCheckApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="CreateMonitorCheckApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public CreateMonitorCheckApiResponse(ILogger<CreateMonitorCheckApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 201 Created
            /// </summary>
            /// <returns></returns>
            public bool IsCreated => 201 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 201 Created
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.MonitorCheckResponse Created()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsCreated
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.MonitorCheckResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 201 Created and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryCreated([NotNullWhen(true)]out Whisper.Api.Sdk.Model.MonitorCheckResponse result)
            {
                result = null;

                try
                {
                    result = Created();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)201);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryBadRequest([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatCreateMonitoringAlert(ref string target, MonitoringAlertRequest monitoringAlertRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="target"></param>
        /// <param name="monitoringAlertRequest"></param>
        /// <returns></returns>
        private void ValidateCreateMonitoringAlert(string target, MonitoringAlertRequest monitoringAlertRequest)
        {
            if (target == null)
                throw new ArgumentNullException(nameof(target));

            if (monitoringAlertRequest == null)
                throw new ArgumentNullException(nameof(monitoringAlertRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="target"></param>
        /// <param name="monitoringAlertRequest"></param>
        private void AfterCreateMonitoringAlertDefaultImplementation(ICreateMonitoringAlertApiResponse apiResponseLocalVar, string target, MonitoringAlertRequest monitoringAlertRequest)
        {
            bool suppressDefaultLog = false;
            AfterCreateMonitoringAlert(ref suppressDefaultLog, apiResponseLocalVar, target, monitoringAlertRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="target"></param>
        /// <param name="monitoringAlertRequest"></param>
        partial void AfterCreateMonitoringAlert(ref bool suppressDefaultLog, ICreateMonitoringAlertApiResponse apiResponseLocalVar, string target, MonitoringAlertRequest monitoringAlertRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="target"></param>
        /// <param name="monitoringAlertRequest"></param>
        private void OnErrorCreateMonitoringAlertDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string target, MonitoringAlertRequest monitoringAlertRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorCreateMonitoringAlert(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, target, monitoringAlertRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="target"></param>
        /// <param name="monitoringAlertRequest"></param>
        partial void OnErrorCreateMonitoringAlert(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string target, MonitoringAlertRequest monitoringAlertRequest);

        /// <summary>
        /// Configure Monitoring Alert &lt;p&gt;Configure alert notifications for a monitored target. Set up notifications for downtime, SSL expiry, DNS changes, and more.&lt;/p&gt; &lt;h4&gt;Alert Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;downtime:&lt;/b&gt; Alert when target becomes unreachable&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns_change:&lt;/b&gt; Alert when DNS records change&lt;/li&gt;     &lt;li&gt;&lt;b&gt;whois_change:&lt;/b&gt; Alert when WHOIS data changes&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl_expiring:&lt;/b&gt; Alert when SSL certificate is expiring (within threshold days)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;content_change:&lt;/b&gt; Alert when page content changes significantly&lt;/li&gt;     &lt;li&gt;&lt;b&gt;technology_change:&lt;/b&gt; Alert when detected technologies change&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Notification Channels:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;email:&lt;/b&gt; Send alerts via email&lt;/li&gt;     &lt;li&gt;&lt;b&gt;slack:&lt;/b&gt; Post to Slack webhook&lt;/li&gt;     &lt;li&gt;&lt;b&gt;webhook:&lt;/b&gt; POST to custom webhook URL&lt;/li&gt;     &lt;li&gt;&lt;b&gt;pagerduty:&lt;/b&gt; Create PagerDuty incident&lt;/li&gt; &lt;/ul&gt; 
        /// </summary>
        /// <param name="target">The domain or IP address to configure alerts for.</param>
        /// <param name="monitoringAlertRequest">Alert configuration including type, thresholds, and notification channels.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateMonitoringAlertApiResponse"/>&gt;</returns>
        public async Task<ICreateMonitoringAlertApiResponse> CreateMonitoringAlertOrDefaultAsync(string target, MonitoringAlertRequest monitoringAlertRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await CreateMonitoringAlertAsync(target, monitoringAlertRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Configure Monitoring Alert &lt;p&gt;Configure alert notifications for a monitored target. Set up notifications for downtime, SSL expiry, DNS changes, and more.&lt;/p&gt; &lt;h4&gt;Alert Types:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;downtime:&lt;/b&gt; Alert when target becomes unreachable&lt;/li&gt;     &lt;li&gt;&lt;b&gt;dns_change:&lt;/b&gt; Alert when DNS records change&lt;/li&gt;     &lt;li&gt;&lt;b&gt;whois_change:&lt;/b&gt; Alert when WHOIS data changes&lt;/li&gt;     &lt;li&gt;&lt;b&gt;ssl_expiring:&lt;/b&gt; Alert when SSL certificate is expiring (within threshold days)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;content_change:&lt;/b&gt; Alert when page content changes significantly&lt;/li&gt;     &lt;li&gt;&lt;b&gt;technology_change:&lt;/b&gt; Alert when detected technologies change&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Notification Channels:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;email:&lt;/b&gt; Send alerts via email&lt;/li&gt;     &lt;li&gt;&lt;b&gt;slack:&lt;/b&gt; Post to Slack webhook&lt;/li&gt;     &lt;li&gt;&lt;b&gt;webhook:&lt;/b&gt; POST to custom webhook URL&lt;/li&gt;     &lt;li&gt;&lt;b&gt;pagerduty:&lt;/b&gt; Create PagerDuty incident&lt;/li&gt; &lt;/ul&gt; 
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="target">The domain or IP address to configure alerts for.</param>
        /// <param name="monitoringAlertRequest">Alert configuration including type, thresholds, and notification channels.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateMonitoringAlertApiResponse"/>&gt;</returns>
        public async Task<ICreateMonitoringAlertApiResponse> CreateMonitoringAlertAsync(string target, MonitoringAlertRequest monitoringAlertRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateCreateMonitoringAlert(target, monitoringAlertRequest);

                FormatCreateMonitoringAlert(ref target, monitoringAlertRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/v1/ops/monitoring/{target}/alert"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/v1/ops/monitoring/{target}/alert");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Btarget%7D", Uri.EscapeDataString(target.ToString()));

                    httpRequestMessageLocalVar.Content = (monitoringAlertRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(monitoringAlertRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<CreateMonitoringAlertApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<CreateMonitoringAlertApiResponse>();
                        CreateMonitoringAlertApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/v1/ops/monitoring/{target}/alert", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterCreateMonitoringAlertDefaultImplementation(apiResponseLocalVar, target, monitoringAlertRequest);

                        Events.ExecuteOnCreateMonitoringAlert(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorCreateMonitoringAlertDefaultImplementation(e, "/v1/ops/monitoring/{target}/alert", uriBuilderLocalVar.Path, target, monitoringAlertRequest);
                Events.ExecuteOnErrorCreateMonitoringAlert(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="CreateMonitoringAlertApiResponse"/>
        /// </summary>
        public partial class CreateMonitoringAlertApiResponse : Whisper.Api.Sdk.Client.ApiResponse, ICreateMonitoringAlertApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<CreateMonitoringAlertApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="CreateMonitoringAlertApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public CreateMonitoringAlertApiResponse(ILogger<CreateMonitoringAlertApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="CreateMonitoringAlertApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public CreateMonitoringAlertApiResponse(ILogger<CreateMonitoringAlertApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public bool IsAccepted => 202 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.JobResponse Accepted()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsAccepted
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.JobResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 202 Accepted and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryAccepted([NotNullWhen(true)]out Whisper.Api.Sdk.Model.JobResponse result)
            {
                result = null;

                try
                {
                    result = Accepted();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)202);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryBadRequest([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatDeleteMonitorCheck(ref string checkId);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="checkId"></param>
        /// <returns></returns>
        private void ValidateDeleteMonitorCheck(string checkId)
        {
            if (checkId == null)
                throw new ArgumentNullException(nameof(checkId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="checkId"></param>
        private void AfterDeleteMonitorCheckDefaultImplementation(IDeleteMonitorCheckApiResponse apiResponseLocalVar, string checkId)
        {
            bool suppressDefaultLog = false;
            AfterDeleteMonitorCheck(ref suppressDefaultLog, apiResponseLocalVar, checkId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="checkId"></param>
        partial void AfterDeleteMonitorCheck(ref bool suppressDefaultLog, IDeleteMonitorCheckApiResponse apiResponseLocalVar, string checkId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="checkId"></param>
        private void OnErrorDeleteMonitorCheckDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string checkId)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorDeleteMonitorCheck(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, checkId);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="checkId"></param>
        partial void OnErrorDeleteMonitorCheck(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string checkId);

        /// <summary>
        /// Delete Monitoring Check Delete a monitoring check and stop all monitoring for the target.
        /// </summary>
        /// <param name="checkId">Check ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteMonitorCheckApiResponse"/>&gt;</returns>
        public async Task<IDeleteMonitorCheckApiResponse> DeleteMonitorCheckOrDefaultAsync(string checkId, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await DeleteMonitorCheckAsync(checkId, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Delete Monitoring Check Delete a monitoring check and stop all monitoring for the target.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="checkId">Check ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteMonitorCheckApiResponse"/>&gt;</returns>
        public async Task<IDeleteMonitorCheckApiResponse> DeleteMonitorCheckAsync(string checkId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateDeleteMonitorCheck(checkId);

                FormatDeleteMonitorCheck(ref checkId);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/v1/ops/monitoring/{checkId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/v1/ops/monitoring/{checkId}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7BcheckId%7D", Uri.EscapeDataString(checkId.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "*/*",
                        "application/json"
                    };

                    string acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Delete;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<DeleteMonitorCheckApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<DeleteMonitorCheckApiResponse>();
                        DeleteMonitorCheckApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/v1/ops/monitoring/{checkId}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterDeleteMonitorCheckDefaultImplementation(apiResponseLocalVar, checkId);

                        Events.ExecuteOnDeleteMonitorCheck(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorDeleteMonitorCheckDefaultImplementation(e, "/v1/ops/monitoring/{checkId}", uriBuilderLocalVar.Path, checkId);
                Events.ExecuteOnErrorDeleteMonitorCheck(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="DeleteMonitorCheckApiResponse"/>
        /// </summary>
        public partial class DeleteMonitorCheckApiResponse : Whisper.Api.Sdk.Client.ApiResponse, IDeleteMonitorCheckApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<DeleteMonitorCheckApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="DeleteMonitorCheckApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DeleteMonitorCheckApiResponse(ILogger<DeleteMonitorCheckApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="DeleteMonitorCheckApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DeleteMonitorCheckApiResponse(ILogger<DeleteMonitorCheckApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 204 NoContent
            /// </summary>
            /// <returns></returns>
            public bool IsNoContent => 204 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 204 NoContent
            /// </summary>
            /// <returns></returns>
            public Object NoContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsNoContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 204 NoContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryNoContent([NotNullWhen(true)]out Object result)
            {
                result = null;

                try
                {
                    result = NoContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)204);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse NotFound()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryNotFound([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGetMonitorCheck(ref string checkId);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="checkId"></param>
        /// <returns></returns>
        private void ValidateGetMonitorCheck(string checkId)
        {
            if (checkId == null)
                throw new ArgumentNullException(nameof(checkId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="checkId"></param>
        private void AfterGetMonitorCheckDefaultImplementation(IGetMonitorCheckApiResponse apiResponseLocalVar, string checkId)
        {
            bool suppressDefaultLog = false;
            AfterGetMonitorCheck(ref suppressDefaultLog, apiResponseLocalVar, checkId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="checkId"></param>
        partial void AfterGetMonitorCheck(ref bool suppressDefaultLog, IGetMonitorCheckApiResponse apiResponseLocalVar, string checkId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="checkId"></param>
        private void OnErrorGetMonitorCheckDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string checkId)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetMonitorCheck(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, checkId);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="checkId"></param>
        partial void OnErrorGetMonitorCheck(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string checkId);

        /// <summary>
[...]
