// <auto-generated>
/*
 * Whisper Security API
 *
 * # Whisper Security Threat Intelligence API  The Whisper Security API provides comprehensive threat intelligence, geolocation data, and security operations capabilities for enterprise security teams and developers.  ## Key Capabilities  - **Indicator Enrichment**: Get comprehensive intelligence on IP addresses and domains including   geolocation, WHOIS, DNS, reputation scoring, and relationship mapping. - **Geolocation Services**: Fast IP-to-location lookups with ISP, ASN, and network information. - **Security Operations**: Asynchronous tools for bulk enrichment, infrastructure scanning,   AI-powered threat investigation, and monitoring.  ## API Design  - **RESTful**: Standard HTTP methods (GET, POST, PUT, DELETE) with JSON request/response bodies. - **Synchronous Endpoints**: Fast responses (<500ms) for indicator enrichment and geolocation. - **Asynchronous Jobs**: Long-running operations return a job ID for polling results. - **Consistent Error Handling**: Standardized error responses with status codes, error codes, and messages.  ## Authentication  All API endpoints require Bearer token authentication. Include your API key in the `Authorization` header: `Authorization: Bearer <your-api-key>`  ## Rate Limits  Rate limits are applied per-user and vary by endpoint category:  | Endpoint Category | Rate Limit | Description | |- -- -- -- -- -- -- -- -- --|- -- -- -- -- -- -|- -- -- -- -- -- --| | Indicators (`/v1/indicators/_*`) | 100 req/sec | Single indicator enrichment | | Location (`/v1/location/_*`) | 100 req/sec | Geolocation lookups | | Jobs (`/v1/ops/jobs/_*`) | 100 req/sec | Job status and listing | | Bulk Operations (`/v1/ops/enrichment/bulk`) | 10 req/sec | Bulk indicator processing | | Screenshots (`/v1/ops/screenshots/_*`) | 10 req/sec | Screenshot capture and scheduling | | Scans (`/v1/ops/scans/_*`) | 10 req/sec | Infrastructure scanning | | Monitoring (`/v1/ops/monitoring/_*`) | 10 req/sec | Uptime monitoring | | Tracking (`/v1/ops/tracking/_*`) | 10 req/sec | Change tracking | | AI Investigate (`/v1/ops/ai/investigate`) | 5 req/min | Deep threat investigation | | AI Correlate (`/v1/ops/ai/correlate`) | 5 req/min | Global correlation | | AI Attribute (`/v1/ops/ai/attribute`) | 5 req/min | Threat actor attribution | | AI Pivot (`/v1/ops/ai/pivot`) | 5 req/min | Infrastructure pivoting |  When rate limits are exceeded, the API returns HTTP `429 Too Many Requests` with a `Retry-After` header indicating when you can retry. The response body includes: ```json {   \"error\": \"Too Many Requests\",   \"message\": \"Rate limit exceeded for <category>. Please retry after N seconds.\",   \"retryAfter\": N } ```  ## Response Conventions  - All timestamps are in ISO 8601 format (UTC). - Pagination uses `limit` and `offset` parameters. - Field names use camelCase throughout the API.  ## Official SDKs  - **Python**: [github.com/whisper-sec/sdk-python](https://github.com/whisper-sec/sdk-python) - **TypeScript/JavaScript**: [github.com/whisper-sec/sdk-typescript](https://github.com/whisper-sec/sdk-typescript) - **Java**: [github.com/whisper-sec/sdk-java](https://github.com/whisper-sec/sdk-java) - **C#/.NET**: [github.com/whisper-sec/sdk-csharp](https://github.com/whisper-sec/sdk-csharp)  ## Resources  - **Website**: [whisper.security](https://whisper.security) - **Dashboard**: [dash.whisper.security](https://dash.whisper.security) - Manage API keys and view usage - **Documentation**: [docs.whisper.security](https://docs.whisper.security) - Guides and tutorials 
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@whisper.security
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Whisper.Api.Sdk.Client;
using Whisper.Api.Sdk.Model;
using System.Diagnostics.CodeAnalysis;

namespace Whisper.Api.Sdk.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IScreenshotsApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        ScreenshotsApiEvents Events { get; }

        /// <summary>
        /// Clear Screenshot History
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Delete all captured screenshots for a schedule while keeping the schedule active.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt; This action cannot be undone. All screenshots will be permanently deleted.&lt;/p&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="scheduleId">The schedule ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IClearScreenshotHistoryApiResponse"/>&gt;</returns>
        Task<IClearScreenshotHistoryApiResponse> ClearScreenshotHistoryAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Clear Screenshot History
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Delete all captured screenshots for a schedule while keeping the schedule active.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt; This action cannot be undone. All screenshots will be permanently deleted.&lt;/p&gt; 
        /// </remarks>
        /// <param name="scheduleId">The schedule ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IClearScreenshotHistoryApiResponse"/>&gt;</returns>
        Task<IClearScreenshotHistoryApiResponse> ClearScreenshotHistoryOrDefaultAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Capture a Website Screenshot (Asynchronous)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Initiates an asynchronous job to capture a screenshot of a website. Supports various viewport sizes, full-page captures, and JavaScript rendering.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Performance Note:&lt;/b&gt; A typical screenshot capture takes 10-30 seconds. Poll the &#x60;/v1/ops/jobs/{jobId}&#x60; endpoint to retrieve the URL of the final image.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Output:&lt;/b&gt; The job result will contain a URL to download the screenshot image in the specified format (PNG, JPEG, or WebP).&lt;/p&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="screenshotRequest">The URL and options for the screenshot capture.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateScreenshotApiResponse"/>&gt;</returns>
        Task<ICreateScreenshotApiResponse> CreateScreenshotAsync(ScreenshotRequest screenshotRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Capture a Website Screenshot (Asynchronous)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Initiates an asynchronous job to capture a screenshot of a website. Supports various viewport sizes, full-page captures, and JavaScript rendering.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Performance Note:&lt;/b&gt; A typical screenshot capture takes 10-30 seconds. Poll the &#x60;/v1/ops/jobs/{jobId}&#x60; endpoint to retrieve the URL of the final image.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Output:&lt;/b&gt; The job result will contain a URL to download the screenshot image in the specified format (PNG, JPEG, or WebP).&lt;/p&gt; 
        /// </remarks>
        /// <param name="screenshotRequest">The URL and options for the screenshot capture.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateScreenshotApiResponse"/>&gt;</returns>
        Task<ICreateScreenshotApiResponse> CreateScreenshotOrDefaultAsync(ScreenshotRequest screenshotRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Delete Screenshot Schedule
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Delete a scheduled screenshot configuration and optionally all its captured screenshots.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt; This action cannot be undone. All associated screenshots will be permanently deleted.&lt;/p&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="scheduleId">The schedule ID to delete</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteScreenshotScheduleApiResponse"/>&gt;</returns>
        Task<IDeleteScreenshotScheduleApiResponse> DeleteScreenshotScheduleAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Delete Screenshot Schedule
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Delete a scheduled screenshot configuration and optionally all its captured screenshots.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt; This action cannot be undone. All associated screenshots will be permanently deleted.&lt;/p&gt; 
        /// </remarks>
        /// <param name="scheduleId">The schedule ID to delete</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteScreenshotScheduleApiResponse"/>&gt;</returns>
        Task<IDeleteScreenshotScheduleApiResponse> DeleteScreenshotScheduleOrDefaultAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Screenshot History
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieve all previously captured screenshots for a specific URL, ordered by capture time (newest first). Includes download URLs and metadata for each capture.&lt;/p&gt; &lt;h4&gt;Response Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Download URL:&lt;/b&gt; Direct link to screenshot image&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Capture Time:&lt;/b&gt; Timestamp when screenshot was taken&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Dimensions:&lt;/b&gt; Image width and height&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Format:&lt;/b&gt; Image format (PNG, JPEG, WebP)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;File Size:&lt;/b&gt; Size in bytes&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Review website evolution over time&lt;/li&gt;     &lt;li&gt;Compare screenshots for change detection&lt;/li&gt;     &lt;li&gt;Download historical screenshots for reporting&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="target">The target domain or URL to retrieve screenshot history for.</param>
        /// <param name="limit">Maximum number of screenshots to return. (optional, default to 10)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetScreenshotHistoryApiResponse"/>&gt;</returns>
        Task<IGetScreenshotHistoryApiResponse> GetScreenshotHistoryAsync(string target, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Screenshot History
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieve all previously captured screenshots for a specific URL, ordered by capture time (newest first). Includes download URLs and metadata for each capture.&lt;/p&gt; &lt;h4&gt;Response Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Download URL:&lt;/b&gt; Direct link to screenshot image&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Capture Time:&lt;/b&gt; Timestamp when screenshot was taken&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Dimensions:&lt;/b&gt; Image width and height&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Format:&lt;/b&gt; Image format (PNG, JPEG, WebP)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;File Size:&lt;/b&gt; Size in bytes&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Review website evolution over time&lt;/li&gt;     &lt;li&gt;Compare screenshots for change detection&lt;/li&gt;     &lt;li&gt;Download historical screenshots for reporting&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="target">The target domain or URL to retrieve screenshot history for.</param>
        /// <param name="limit">Maximum number of screenshots to return. (optional, default to 10)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetScreenshotHistoryApiResponse"/>&gt;</returns>
        Task<IGetScreenshotHistoryApiResponse> GetScreenshotHistoryOrDefaultAsync(string target, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Screenshot Schedule Details
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieve details for a specific screenshot schedule including configuration and capture history.&lt;/p&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="scheduleId">The schedule ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetScreenshotScheduleApiResponse"/>&gt;</returns>
        Task<IGetScreenshotScheduleApiResponse> GetScreenshotScheduleAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get Screenshot Schedule Details
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieve details for a specific screenshot schedule including configuration and capture history.&lt;/p&gt; 
        /// </remarks>
        /// <param name="scheduleId">The schedule ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetScreenshotScheduleApiResponse"/>&gt;</returns>
        Task<IGetScreenshotScheduleApiResponse> GetScreenshotScheduleOrDefaultAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List Screenshot Schedules
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieve all scheduled screenshot configurations for your API key. Each API key can have a maximum of 3 active schedules.&lt;/p&gt; &lt;h4&gt;Response Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Schedule ID:&lt;/b&gt; Unique identifier for the schedule&lt;/li&gt;     &lt;li&gt;&lt;b&gt;URL:&lt;/b&gt; Target website being captured&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Frequency:&lt;/b&gt; How often screenshots are taken&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Next Capture:&lt;/b&gt; When the next screenshot will be taken&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Capture Count:&lt;/b&gt; Total screenshots taken by this schedule&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Status:&lt;/b&gt; Whether the schedule is enabled or paused&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Limits:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Max Schedules:&lt;/b&gt; 3 per API key&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Max Screenshots:&lt;/b&gt; 50 retained per schedule (oldest deleted automatically)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Schedule Expiration:&lt;/b&gt; Schedules auto-expire after 90 days of inactivity&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListScreenshotSchedulesApiResponse"/>&gt;</returns>
        Task<IListScreenshotSchedulesApiResponse> ListScreenshotSchedulesAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List Screenshot Schedules
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Retrieve all scheduled screenshot configurations for your API key. Each API key can have a maximum of 3 active schedules.&lt;/p&gt; &lt;h4&gt;Response Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Schedule ID:&lt;/b&gt; Unique identifier for the schedule&lt;/li&gt;     &lt;li&gt;&lt;b&gt;URL:&lt;/b&gt; Target website being captured&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Frequency:&lt;/b&gt; How often screenshots are taken&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Next Capture:&lt;/b&gt; When the next screenshot will be taken&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Capture Count:&lt;/b&gt; Total screenshots taken by this schedule&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Status:&lt;/b&gt; Whether the schedule is enabled or paused&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Limits:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Max Schedules:&lt;/b&gt; 3 per API key&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Max Screenshots:&lt;/b&gt; 50 retained per schedule (oldest deleted automatically)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Schedule Expiration:&lt;/b&gt; Schedules auto-expire after 90 days of inactivity&lt;/li&gt; &lt;/ul&gt; 
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListScreenshotSchedulesApiResponse"/>&gt;</returns>
        Task<IListScreenshotSchedulesApiResponse> ListScreenshotSchedulesOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Schedule Recurring Screenshots (Asynchronous)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Create a recurring job to capture website screenshots at regular intervals. Essential for monitoring website changes, detecting defacements, and tracking competitor updates.&lt;/p&gt; &lt;h4&gt;Schedule Options:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Cron Expression:&lt;/b&gt; Full cron syntax support (e.g., &#x60;0 0 * * * *&#x60; &#x3D; hourly)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Frequency Presets:&lt;/b&gt; hourly, every_6_hours, every_12_hours, twice_daily, daily, weekly, monthly&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Timezone:&lt;/b&gt; Specify timezone for accurate scheduling (default: UTC)&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;First Screenshot:&lt;/h4&gt; &lt;p&gt;The &lt;b&gt;first screenshot is captured immediately&lt;/b&gt; when a schedule is created. Subsequent screenshots follow the configured schedule. This ensures you have baseline data right away.&lt;/p&gt; &lt;h4&gt;Limits:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Max Schedules:&lt;/b&gt; 3 per API key&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Max Screenshots:&lt;/b&gt; 50 retained per schedule (oldest deleted automatically)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Schedule Expiration:&lt;/b&gt; Schedules auto-expire after 90 days of inactivity&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Screenshot Retention:&lt;/b&gt; Individual screenshots expire after 14 days&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Performance:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Setup Time:&lt;/b&gt; ~2 seconds to create schedule&lt;/li&gt;     &lt;li&gt;&lt;b&gt;First Screenshot:&lt;/b&gt; Triggered immediately on schedule creation&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Screenshot Time:&lt;/b&gt; 10-30 seconds per capture&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Automated defacement detection&lt;/li&gt;     &lt;li&gt;Compliance monitoring and archival&lt;/li&gt;     &lt;li&gt;Competitor website tracking&lt;/li&gt;     &lt;li&gt;Visual regression testing&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Management:&lt;/h4&gt; &lt;p&gt;Use &lt;code&gt;GET /v1/ops/screenshots/schedules&lt;/code&gt; to list schedules, &lt;code&gt;DELETE /v1/ops/screenshots/schedules/{id}&lt;/code&gt; to delete.&lt;/p&gt; 
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="screenshotRequest">Schedule configuration including URL, schedule timing, and screenshot options.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IScheduleScreenshotApiResponse"/>&gt;</returns>
        Task<IScheduleScreenshotApiResponse> ScheduleScreenshotAsync(ScreenshotRequest screenshotRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Schedule Recurring Screenshots (Asynchronous)
        /// </summary>
        /// <remarks>
        /// &lt;p&gt;Create a recurring job to capture website screenshots at regular intervals. Essential for monitoring website changes, detecting defacements, and tracking competitor updates.&lt;/p&gt; &lt;h4&gt;Schedule Options:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Cron Expression:&lt;/b&gt; Full cron syntax support (e.g., &#x60;0 0 * * * *&#x60; &#x3D; hourly)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Frequency Presets:&lt;/b&gt; hourly, every_6_hours, every_12_hours, twice_daily, daily, weekly, monthly&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Timezone:&lt;/b&gt; Specify timezone for accurate scheduling (default: UTC)&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;First Screenshot:&lt;/h4&gt; &lt;p&gt;The &lt;b&gt;first screenshot is captured immediately&lt;/b&gt; when a schedule is created. Subsequent screenshots follow the configured schedule. This ensures you have baseline data right away.&lt;/p&gt; &lt;h4&gt;Limits:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Max Schedules:&lt;/b&gt; 3 per API key&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Max Screenshots:&lt;/b&gt; 50 retained per schedule (oldest deleted automatically)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Schedule Expiration:&lt;/b&gt; Schedules auto-expire after 90 days of inactivity&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Screenshot Retention:&lt;/b&gt; Individual screenshots expire after 14 days&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Performance:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Setup Time:&lt;/b&gt; ~2 seconds to create schedule&lt;/li&gt;     &lt;li&gt;&lt;b&gt;First Screenshot:&lt;/b&gt; Triggered immediately on schedule creation&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Screenshot Time:&lt;/b&gt; 10-30 seconds per capture&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Automated defacement detection&lt;/li&gt;     &lt;li&gt;Compliance monitoring and archival&lt;/li&gt;     &lt;li&gt;Competitor website tracking&lt;/li&gt;     &lt;li&gt;Visual regression testing&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Management:&lt;/h4&gt; &lt;p&gt;Use &lt;code&gt;GET /v1/ops/screenshots/schedules&lt;/code&gt; to list schedules, &lt;code&gt;DELETE /v1/ops/screenshots/schedules/{id}&lt;/code&gt; to delete.&lt;/p&gt; 
        /// </remarks>
        /// <param name="screenshotRequest">Schedule configuration including URL, schedule timing, and screenshot options.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IScheduleScreenshotApiResponse"/>&gt;</returns>
        Task<IScheduleScreenshotApiResponse> ScheduleScreenshotOrDefaultAsync(ScreenshotRequest screenshotRequest, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IClearScreenshotHistoryApiResponse"/>
    /// </summary>
    public interface IClearScreenshotHistoryApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Object>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="ICreateScreenshotApiResponse"/>
    /// </summary>
    public interface ICreateScreenshotApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IAccepted<Whisper.Api.Sdk.Model.JobResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, ITooManyRequests<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }
    }

    /// <summary>
    /// The <see cref="IDeleteScreenshotScheduleApiResponse"/>
    /// </summary>
    public interface IDeleteScreenshotScheduleApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Object>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="IGetScreenshotHistoryApiResponse"/>
    /// </summary>
    public interface IGetScreenshotHistoryApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.ScreenshotHistoryResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="IGetScreenshotScheduleApiResponse"/>
    /// </summary>
    public interface IGetScreenshotScheduleApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.ScreenshotSchedule>, INotFound<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }
    }

    /// <summary>
    /// The <see cref="IListScreenshotSchedulesApiResponse"/>
    /// </summary>
    public interface IListScreenshotSchedulesApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IOk<Whisper.Api.Sdk.Model.ScreenshotScheduleListResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IScheduleScreenshotApiResponse"/>
    /// </summary>
    public interface IScheduleScreenshotApiResponse : Whisper.Api.Sdk.Client.IApiResponse, IAccepted<Whisper.Api.Sdk.Model.JobResponse>, IBadRequest<Whisper.Api.Sdk.Model.ErrorResponse>, IUnauthorized<Whisper.Api.Sdk.Model.ErrorResponse>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class ScreenshotsApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnClearScreenshotHistory;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorClearScreenshotHistory;

        internal void ExecuteOnClearScreenshotHistory(ScreenshotsApi.ClearScreenshotHistoryApiResponse apiResponse)
        {
            OnClearScreenshotHistory?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorClearScreenshotHistory(Exception exception)
        {
            OnErrorClearScreenshotHistory?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnCreateScreenshot;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorCreateScreenshot;

        internal void ExecuteOnCreateScreenshot(ScreenshotsApi.CreateScreenshotApiResponse apiResponse)
        {
            OnCreateScreenshot?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCreateScreenshot(Exception exception)
        {
            OnErrorCreateScreenshot?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnDeleteScreenshotSchedule;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorDeleteScreenshotSchedule;

        internal void ExecuteOnDeleteScreenshotSchedule(ScreenshotsApi.DeleteScreenshotScheduleApiResponse apiResponse)
        {
            OnDeleteScreenshotSchedule?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDeleteScreenshotSchedule(Exception exception)
        {
            OnErrorDeleteScreenshotSchedule?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetScreenshotHistory;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetScreenshotHistory;

        internal void ExecuteOnGetScreenshotHistory(ScreenshotsApi.GetScreenshotHistoryApiResponse apiResponse)
        {
            OnGetScreenshotHistory?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetScreenshotHistory(Exception exception)
        {
            OnErrorGetScreenshotHistory?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnGetScreenshotSchedule;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorGetScreenshotSchedule;

        internal void ExecuteOnGetScreenshotSchedule(ScreenshotsApi.GetScreenshotScheduleApiResponse apiResponse)
        {
            OnGetScreenshotSchedule?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetScreenshotSchedule(Exception exception)
        {
            OnErrorGetScreenshotSchedule?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnListScreenshotSchedules;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorListScreenshotSchedules;

        internal void ExecuteOnListScreenshotSchedules(ScreenshotsApi.ListScreenshotSchedulesApiResponse apiResponse)
        {
            OnListScreenshotSchedules?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListScreenshotSchedules(Exception exception)
        {
            OnErrorListScreenshotSchedules?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs> OnScheduleScreenshot;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs> OnErrorScheduleScreenshot;

        internal void ExecuteOnScheduleScreenshot(ScreenshotsApi.ScheduleScreenshotApiResponse apiResponse)
        {
            OnScheduleScreenshot?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorScheduleScreenshot(Exception exception)
        {
            OnErrorScheduleScreenshot?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class ScreenshotsApi : IScreenshotsApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<ScreenshotsApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public ScreenshotsApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="ScreenshotsApi"/> class.
        /// </summary>
        /// <returns></returns>
        public ScreenshotsApi(ILogger<ScreenshotsApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ScreenshotsApiEvents screenshotsApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<ScreenshotsApi>();
            HttpClient = httpClient;
            Events = screenshotsApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatClearScreenshotHistory(ref string scheduleId);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="scheduleId"></param>
        /// <returns></returns>
        private void ValidateClearScreenshotHistory(string scheduleId)
        {
            if (scheduleId == null)
                throw new ArgumentNullException(nameof(scheduleId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="scheduleId"></param>
        private void AfterClearScreenshotHistoryDefaultImplementation(IClearScreenshotHistoryApiResponse apiResponseLocalVar, string scheduleId)
        {
            bool suppressDefaultLog = false;
            AfterClearScreenshotHistory(ref suppressDefaultLog, apiResponseLocalVar, scheduleId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="scheduleId"></param>
        partial void AfterClearScreenshotHistory(ref bool suppressDefaultLog, IClearScreenshotHistoryApiResponse apiResponseLocalVar, string scheduleId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="scheduleId"></param>
        private void OnErrorClearScreenshotHistoryDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string scheduleId)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorClearScreenshotHistory(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, scheduleId);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="scheduleId"></param>
        partial void OnErrorClearScreenshotHistory(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string scheduleId);

        /// <summary>
        /// Clear Screenshot History &lt;p&gt;Delete all captured screenshots for a schedule while keeping the schedule active.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt; This action cannot be undone. All screenshots will be permanently deleted.&lt;/p&gt; 
        /// </summary>
        /// <param name="scheduleId">The schedule ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IClearScreenshotHistoryApiResponse"/>&gt;</returns>
        public async Task<IClearScreenshotHistoryApiResponse> ClearScreenshotHistoryOrDefaultAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await ClearScreenshotHistoryAsync(scheduleId, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Clear Screenshot History &lt;p&gt;Delete all captured screenshots for a schedule while keeping the schedule active.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt; This action cannot be undone. All screenshots will be permanently deleted.&lt;/p&gt; 
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="scheduleId">The schedule ID</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IClearScreenshotHistoryApiResponse"/>&gt;</returns>
        public async Task<IClearScreenshotHistoryApiResponse> ClearScreenshotHistoryAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateClearScreenshotHistory(scheduleId);

                FormatClearScreenshotHistory(ref scheduleId);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/v1/ops/screenshots/schedules/{scheduleId}/history"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/v1/ops/screenshots/schedules/{scheduleId}/history");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7BscheduleId%7D", Uri.EscapeDataString(scheduleId.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "*/*",
                        "application/json"
                    };

                    string acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Delete;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<ClearScreenshotHistoryApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<ClearScreenshotHistoryApiResponse>();
                        ClearScreenshotHistoryApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/v1/ops/screenshots/schedules/{scheduleId}/history", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterClearScreenshotHistoryDefaultImplementation(apiResponseLocalVar, scheduleId);

                        Events.ExecuteOnClearScreenshotHistory(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorClearScreenshotHistoryDefaultImplementation(e, "/v1/ops/screenshots/schedules/{scheduleId}/history", uriBuilderLocalVar.Path, scheduleId);
                Events.ExecuteOnErrorClearScreenshotHistory(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="ClearScreenshotHistoryApiResponse"/>
        /// </summary>
        public partial class ClearScreenshotHistoryApiResponse : Whisper.Api.Sdk.Client.ApiResponse, IClearScreenshotHistoryApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<ClearScreenshotHistoryApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="ClearScreenshotHistoryApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ClearScreenshotHistoryApiResponse(ILogger<ClearScreenshotHistoryApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="ClearScreenshotHistoryApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ClearScreenshotHistoryApiResponse(ILogger<ClearScreenshotHistoryApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse NotFound()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryNotFound([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatCreateScreenshot(ScreenshotRequest screenshotRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="screenshotRequest"></param>
        /// <returns></returns>
        private void ValidateCreateScreenshot(ScreenshotRequest screenshotRequest)
        {
            if (screenshotRequest == null)
                throw new ArgumentNullException(nameof(screenshotRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="screenshotRequest"></param>
        private void AfterCreateScreenshotDefaultImplementation(ICreateScreenshotApiResponse apiResponseLocalVar, ScreenshotRequest screenshotRequest)
        {
            bool suppressDefaultLog = false;
            AfterCreateScreenshot(ref suppressDefaultLog, apiResponseLocalVar, screenshotRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="screenshotRequest"></param>
        partial void AfterCreateScreenshot(ref bool suppressDefaultLog, ICreateScreenshotApiResponse apiResponseLocalVar, ScreenshotRequest screenshotRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="screenshotRequest"></param>
        private void OnErrorCreateScreenshotDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, ScreenshotRequest screenshotRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorCreateScreenshot(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, screenshotRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="screenshotRequest"></param>
        partial void OnErrorCreateScreenshot(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, ScreenshotRequest screenshotRequest);

        /// <summary>
        /// Capture a Website Screenshot (Asynchronous) &lt;p&gt;Initiates an asynchronous job to capture a screenshot of a website. Supports various viewport sizes, full-page captures, and JavaScript rendering.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Performance Note:&lt;/b&gt; A typical screenshot capture takes 10-30 seconds. Poll the &#x60;/v1/ops/jobs/{jobId}&#x60; endpoint to retrieve the URL of the final image.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Output:&lt;/b&gt; The job result will contain a URL to download the screenshot image in the specified format (PNG, JPEG, or WebP).&lt;/p&gt; 
        /// </summary>
        /// <param name="screenshotRequest">The URL and options for the screenshot capture.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateScreenshotApiResponse"/>&gt;</returns>
        public async Task<ICreateScreenshotApiResponse> CreateScreenshotOrDefaultAsync(ScreenshotRequest screenshotRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await CreateScreenshotAsync(screenshotRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Capture a Website Screenshot (Asynchronous) &lt;p&gt;Initiates an asynchronous job to capture a screenshot of a website. Supports various viewport sizes, full-page captures, and JavaScript rendering.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Performance Note:&lt;/b&gt; A typical screenshot capture takes 10-30 seconds. Poll the &#x60;/v1/ops/jobs/{jobId}&#x60; endpoint to retrieve the URL of the final image.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Output:&lt;/b&gt; The job result will contain a URL to download the screenshot image in the specified format (PNG, JPEG, or WebP).&lt;/p&gt; 
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="screenshotRequest">The URL and options for the screenshot capture.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateScreenshotApiResponse"/>&gt;</returns>
        public async Task<ICreateScreenshotApiResponse> CreateScreenshotAsync(ScreenshotRequest screenshotRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateCreateScreenshot(screenshotRequest);

                FormatCreateScreenshot(screenshotRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/v1/ops/screenshots/capture"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/v1/ops/screenshots/capture");

                    httpRequestMessageLocalVar.Content = (screenshotRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(screenshotRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<CreateScreenshotApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<CreateScreenshotApiResponse>();
                        CreateScreenshotApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/v1/ops/screenshots/capture", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterCreateScreenshotDefaultImplementation(apiResponseLocalVar, screenshotRequest);

                        Events.ExecuteOnCreateScreenshot(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorCreateScreenshotDefaultImplementation(e, "/v1/ops/screenshots/capture", uriBuilderLocalVar.Path, screenshotRequest);
                Events.ExecuteOnErrorCreateScreenshot(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="CreateScreenshotApiResponse"/>
        /// </summary>
        public partial class CreateScreenshotApiResponse : Whisper.Api.Sdk.Client.ApiResponse, ICreateScreenshotApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<CreateScreenshotApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="CreateScreenshotApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public CreateScreenshotApiResponse(ILogger<CreateScreenshotApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="CreateScreenshotApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public CreateScreenshotApiResponse(ILogger<CreateScreenshotApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public bool IsAccepted => 202 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.JobResponse Accepted()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsAccepted
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.JobResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 202 Accepted and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryAccepted([NotNullWhen(true)]out Whisper.Api.Sdk.Model.JobResponse result)
            {
                result = null;

                try
                {
                    result = Accepted();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)202);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryBadRequest([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public bool IsTooManyRequests => 429 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse TooManyRequests()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsTooManyRequests
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryTooManyRequests([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = TooManyRequests();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)429);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatDeleteScreenshotSchedule(ref string scheduleId);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="scheduleId"></param>
        /// <returns></returns>
        private void ValidateDeleteScreenshotSchedule(string scheduleId)
        {
            if (scheduleId == null)
                throw new ArgumentNullException(nameof(scheduleId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="scheduleId"></param>
        private void AfterDeleteScreenshotScheduleDefaultImplementation(IDeleteScreenshotScheduleApiResponse apiResponseLocalVar, string scheduleId)
        {
            bool suppressDefaultLog = false;
            AfterDeleteScreenshotSchedule(ref suppressDefaultLog, apiResponseLocalVar, scheduleId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="scheduleId"></param>
        partial void AfterDeleteScreenshotSchedule(ref bool suppressDefaultLog, IDeleteScreenshotScheduleApiResponse apiResponseLocalVar, string scheduleId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="scheduleId"></param>
        private void OnErrorDeleteScreenshotScheduleDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string scheduleId)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorDeleteScreenshotSchedule(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, scheduleId);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="scheduleId"></param>
        partial void OnErrorDeleteScreenshotSchedule(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string scheduleId);

        /// <summary>
        /// Delete Screenshot Schedule &lt;p&gt;Delete a scheduled screenshot configuration and optionally all its captured screenshots.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt; This action cannot be undone. All associated screenshots will be permanently deleted.&lt;/p&gt; 
        /// </summary>
        /// <param name="scheduleId">The schedule ID to delete</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteScreenshotScheduleApiResponse"/>&gt;</returns>
        public async Task<IDeleteScreenshotScheduleApiResponse> DeleteScreenshotScheduleOrDefaultAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await DeleteScreenshotScheduleAsync(scheduleId, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Delete Screenshot Schedule &lt;p&gt;Delete a scheduled screenshot configuration and optionally all its captured screenshots.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt; This action cannot be undone. All associated screenshots will be permanently deleted.&lt;/p&gt; 
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="scheduleId">The schedule ID to delete</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteScreenshotScheduleApiResponse"/>&gt;</returns>
        public async Task<IDeleteScreenshotScheduleApiResponse> DeleteScreenshotScheduleAsync(string scheduleId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateDeleteScreenshotSchedule(scheduleId);

                FormatDeleteScreenshotSchedule(ref scheduleId);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/v1/ops/screenshots/schedules/{scheduleId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/v1/ops/screenshots/schedules/{scheduleId}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7BscheduleId%7D", Uri.EscapeDataString(scheduleId.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "*/*",
                        "application/json"
                    };

                    string acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Delete;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<DeleteScreenshotScheduleApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<DeleteScreenshotScheduleApiResponse>();
                        DeleteScreenshotScheduleApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/v1/ops/screenshots/schedules/{scheduleId}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterDeleteScreenshotScheduleDefaultImplementation(apiResponseLocalVar, scheduleId);

                        Events.ExecuteOnDeleteScreenshotSchedule(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorDeleteScreenshotScheduleDefaultImplementation(e, "/v1/ops/screenshots/schedules/{scheduleId}", uriBuilderLocalVar.Path, scheduleId);
                Events.ExecuteOnErrorDeleteScreenshotSchedule(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="DeleteScreenshotScheduleApiResponse"/>
        /// </summary>
        public partial class DeleteScreenshotScheduleApiResponse : Whisper.Api.Sdk.Client.ApiResponse, IDeleteScreenshotScheduleApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<DeleteScreenshotScheduleApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="DeleteScreenshotScheduleApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DeleteScreenshotScheduleApiResponse(ILogger<DeleteScreenshotScheduleApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="DeleteScreenshotScheduleApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DeleteScreenshotScheduleApiResponse(ILogger<DeleteScreenshotScheduleApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public Whisper.Api.Sdk.Model.ErrorResponse NotFound()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<Whisper.Api.Sdk.Model.ErrorResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryNotFound([NotNullWhen(true)]out Whisper.Api.Sdk.Model.ErrorResponse result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGetScreenshotHistory(ref string target, ref Option<int> limit);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="target"></param>
        /// <returns></returns>
        private void ValidateGetScreenshotHistory(string target)
        {
            if (target == null)
                throw new ArgumentNullException(nameof(target));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="target"></param>
        /// <param name="limit"></param>
        private void AfterGetScreenshotHistoryDefaultImplementation(IGetScreenshotHistoryApiResponse apiResponseLocalVar, string target, Option<int> limit)
        {
            bool suppressDefaultLog = false;
            AfterGetScreenshotHistory(ref suppressDefaultLog, apiResponseLocalVar, target, limit);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="target"></param>
        /// <param name="limit"></param>
        partial void AfterGetScreenshotHistory(ref bool suppressDefaultLog, IGetScreenshotHistoryApiResponse apiResponseLocalVar, string target, Option<int> limit);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="target"></param>
        /// <param name="limit"></param>
        private void OnErrorGetScreenshotHistoryDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string target, Option<int> limit)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetScreenshotHistory(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, target, limit);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="target"></param>
        /// <param name="limit"></param>
        partial void OnErrorGetScreenshotHistory(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string target, Option<int> limit);

        /// <summary>
        /// Get Screenshot History &lt;p&gt;Retrieve all previously captured screenshots for a specific URL, ordered by capture time (newest first). Includes download URLs and metadata for each capture.&lt;/p&gt; &lt;h4&gt;Response Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Download URL:&lt;/b&gt; Direct link to screenshot image&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Capture Time:&lt;/b&gt; Timestamp when screenshot was taken&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Dimensions:&lt;/b&gt; Image width and height&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Format:&lt;/b&gt; Image format (PNG, JPEG, WebP)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;File Size:&lt;/b&gt; Size in bytes&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Review website evolution over time&lt;/li&gt;     &lt;li&gt;Compare screenshots for change detection&lt;/li&gt;     &lt;li&gt;Download historical screenshots for reporting&lt;/li&gt; &lt;/ul&gt; 
        /// </summary>
        /// <param name="target">The target domain or URL to retrieve screenshot history for.</param>
        /// <param name="limit">Maximum number of screenshots to return. (optional, default to 10)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetScreenshotHistoryApiResponse"/>&gt;</returns>
        public async Task<IGetScreenshotHistoryApiResponse> GetScreenshotHistoryOrDefaultAsync(string target, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetScreenshotHistoryAsync(target, limit, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Get Screenshot History &lt;p&gt;Retrieve all previously captured screenshots for a specific URL, ordered by capture time (newest first). Includes download URLs and metadata for each capture.&lt;/p&gt; &lt;h4&gt;Response Includes:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;&lt;b&gt;Download URL:&lt;/b&gt; Direct link to screenshot image&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Capture Time:&lt;/b&gt; Timestamp when screenshot was taken&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Dimensions:&lt;/b&gt; Image width and height&lt;/li&gt;     &lt;li&gt;&lt;b&gt;Format:&lt;/b&gt; Image format (PNG, JPEG, WebP)&lt;/li&gt;     &lt;li&gt;&lt;b&gt;File Size:&lt;/b&gt; Size in bytes&lt;/li&gt; &lt;/ul&gt; &lt;h4&gt;Use Cases:&lt;/h4&gt; &lt;ul&gt;     &lt;li&gt;Review website evolution over time&lt;/li&gt;     &lt;li&gt;Compare screenshots for change detection&lt;/li&gt;     &lt;li&gt;Download historical screenshots for reporting&lt;/li&gt; &lt;/ul&gt; 
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="target">The target domain or URL to retrieve screenshot history for.</param>
        /// <param name="limit">Maximum number of screenshots to return. (optional, default to 10)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetScreenshotHistoryApiResponse"/>&gt;</returns>
        public async Task<IGetScreenshotHistoryApiResponse> GetScreenshotHistoryAsync(string target, Option<int> limit = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGetScreenshotHistory(target);

                FormatGetScreenshotHistory(ref target, ref limit);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/v1/ops/screenshots/history"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/v1/ops/screenshots/history");

                    System.Collections.Specialized.NameValueCollection parseQueryStringLocalVar = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    parseQueryStringLocalVar["target"] = ClientUtils.ParameterToString(target);

                    if (limit.IsSet)
                        parseQueryStringLocalVar["limit"] = ClientUtils.ParameterToString(limit.Value);

                    uriBuilderLocalVar.Query = parseQueryStringLocalVar.ToString();

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetScreenshotHistoryApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetScreenshotHistoryApiResponse>();
                        GetScreenshotHistoryApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/v1/ops/screenshots/history", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetScreenshotHistoryDefaultImplementation(apiResponseLocalVar, target, limit);

                        Events.ExecuteOnGetScreenshotHistory(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetScreenshotHistoryDefaultImplementation(e, "/v1/ops/screenshots/history", uriBuilderLocalVar.Path, target, limit);
                Events.ExecuteOnErrorGetScreenshotHistory(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetScreenshotHistoryApiResponse"/>
        /// </summary>
        public partial class GetScreenshotHistoryApiResponse : Whisper.Api.Sdk.Client.ApiResponse, IGetScreenshotHistoryApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetScreenshotHistoryApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetScreenshotHistoryApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetScreenshotHistoryApiResponse(ILogger<GetScreenshotHistoryApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetScreenshotHistoryApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetScreenshotHistoryApiResponse(ILogger<GetScreenshotHistoryApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
[...]
