/*
 * Whisper Security API
 *
 * # Whisper Security Threat Intelligence API  The Whisper Security API provides comprehensive threat intelligence, geolocation data, and security operations capabilities for enterprise security teams and developers.  ## Key Capabilities  - **Indicator Enrichment**: Get comprehensive intelligence on IP addresses and domains including   geolocation, WHOIS, DNS, reputation scoring, and relationship mapping. - **Geolocation Services**: Fast IP-to-location lookups with ISP, ASN, and network information. - **Security Operations**: Asynchronous tools for bulk enrichment, infrastructure scanning,   AI-powered threat investigation, and monitoring.  ## API Design  - **RESTful**: Standard HTTP methods (GET, POST, PUT, DELETE) with JSON request/response bodies. - **Synchronous Endpoints**: Fast responses (<500ms) for indicator enrichment and geolocation. - **Asynchronous Jobs**: Long-running operations return a job ID for polling results. - **Consistent Error Handling**: Standardized error responses with status codes, error codes, and messages.  ## Authentication  All API endpoints require Bearer token authentication. Include your API key in the `Authorization` header: `Authorization: Bearer <your-api-key>`  ## Rate Limits  Rate limits are applied per-user and vary by endpoint category:  | Endpoint Category | Rate Limit | Description | |- -- -- -- -- -- -- -- -- --|- -- -- -- -- -- -|- -- -- -- -- -- --| | Indicators (`/v1/indicators/_*`) | 100 req/sec | Single indicator enrichment | | Location (`/v1/location/_*`) | 100 req/sec | Geolocation lookups | | Jobs (`/v1/ops/jobs/_*`) | 100 req/sec | Job status and listing | | Bulk Operations (`/v1/ops/enrichment/bulk`) | 10 req/sec | Bulk indicator processing | | Screenshots (`/v1/ops/screenshots/_*`) | 10 req/sec | Screenshot capture and scheduling | | Scans (`/v1/ops/scans/_*`) | 10 req/sec | Infrastructure scanning | | Monitoring (`/v1/ops/monitoring/_*`) | 10 req/sec | Uptime monitoring | | Tracking (`/v1/ops/tracking/_*`) | 10 req/sec | Change tracking | | AI Investigate (`/v1/ops/ai/investigate`) | 5 req/min | Deep threat investigation | | AI Correlate (`/v1/ops/ai/correlate`) | 5 req/min | Global correlation | | AI Attribute (`/v1/ops/ai/attribute`) | 5 req/min | Threat actor attribution | | AI Pivot (`/v1/ops/ai/pivot`) | 5 req/min | Infrastructure pivoting |  When rate limits are exceeded, the API returns HTTP `429 Too Many Requests` with a `Retry-After` header indicating when you can retry. The response body includes: ```json {   \"error\": \"Too Many Requests\",   \"message\": \"Rate limit exceeded for <category>. Please retry after N seconds.\",   \"retryAfter\": N } ```  ## Response Conventions  - All timestamps are in ISO 8601 format (UTC). - Pagination uses `limit` and `offset` parameters. - Field names use camelCase throughout the API.  ## Official SDKs  - **Python**: [github.com/whisper-sec/sdk-python](https://github.com/whisper-sec/sdk-python) - **TypeScript/JavaScript**: [github.com/whisper-sec/sdk-typescript](https://github.com/whisper-sec/sdk-typescript) - **Java**: [github.com/whisper-sec/sdk-java](https://github.com/whisper-sec/sdk-java) - **C#/.NET**: [github.com/whisper-sec/sdk-csharp](https://github.com/whisper-sec/sdk-csharp)  ## Resources  - **Website**: [whisper.security](https://whisper.security) - **Dashboard**: [dash.whisper.security](https://dash.whisper.security) - Manage API keys and view usage - **Documentation**: [docs.whisper.security](https://docs.whisper.security) - Guides and tutorials 
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@whisper.security
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

using System;
using System.IO;
using System.Linq;
using System.Collections;
using System.Collections.Generic;
using System.Text;
using System.Text.Json;
using System.Text.RegularExpressions;
using Whisper.Api.Sdk.Model;
using System.Runtime.CompilerServices;

[assembly: InternalsVisibleTo("Whisper.Api.Sdk.Test")]

namespace Whisper.Api.Sdk.Client
{
    /// <summary>
    /// Utility functions providing some benefit to API client consumers.
    /// </summary>
    public static partial class ClientUtils
    {

        /// <summary>
        /// A delegate for events.
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="sender"></param>
        /// <param name="e"></param>
        /// <returns></returns>
        public delegate void EventHandler<T>(object sender, T e) where T : EventArgs;

        /// <summary>
        /// Returns true when deserialization succeeds.
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="json"></param>
        /// <param name="options"></param>
        /// <param name="result"></param>
        /// <returns></returns>
        public static bool TryDeserialize<T>(string json, JsonSerializerOptions options, [global::System.Diagnostics.CodeAnalysis.NotNullWhen(true)] out T result)
        {
            try
            {
                result = JsonSerializer.Deserialize<T>(json, options);
                return result != null;
            }
            catch (Exception)
            {
                result = default;
                return false;
            }
        }

        /// <summary>
        /// Returns true when deserialization succeeds.
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="reader"></param>
        /// <param name="options"></param>
        /// <param name="result"></param>
        /// <returns></returns>
        public static bool TryDeserialize<T>(ref Utf8JsonReader reader, JsonSerializerOptions options, [global::System.Diagnostics.CodeAnalysis.NotNullWhen(true)] out T result)
        {
            try
            {
                result = JsonSerializer.Deserialize<T>(ref reader, options);
                return result != null;
            }
            catch (Exception)
            {
                result = default;
                return false;
            }
        }

        /// <summary>
        /// If parameter is DateTime, output in a formatted string (default ISO 8601), customizable with Configuration.DateTime.
        /// If parameter is a list, join the list with ",".
        /// Otherwise just return the string.
        /// </summary>
        /// <param name="obj">The parameter (header, path, query, form).</param>
        /// <param name="format">The DateTime serialization format.</param>
        /// <returns>Formatted string.</returns>
        public static string ParameterToString(object obj, string format = ISO8601_DATETIME_FORMAT)
        {
            if (obj is DateTime dateTime)
                // Return a formatted date string - Can be customized with Configuration.DateTimeFormat
                // Defaults to an ISO 8601, using the known as a Round-trip date/time pattern ("o")
                // https://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx#Anchor_8
                // For example: 2009-06-15T13:45:30.0000000
                return dateTime.ToString(format);
            if (obj is DateTimeOffset dateTimeOffset)
                // Return a formatted date string - Can be customized with Configuration.DateTimeFormat
                // Defaults to an ISO 8601, using the known as a Round-trip date/time pattern ("o")
                // https://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx#Anchor_8
                // For example: 2009-06-15T13:45:30.0000000
                return dateTimeOffset.ToString(format);
            if (obj is DateOnly dateOnly)
                return dateOnly.ToString(format);
            if (obj is bool boolean)
                return boolean
                    ? "true"
                    : "false";
            if (obj is BulkEnrichmentResult.StatusEnum bulkEnrichmentResultStatusEnum)
                return BulkEnrichmentResult.StatusEnumToJsonValue(bulkEnrichmentResultStatusEnum);
            if (obj is BulkRequest.IncludeEnum bulkRequestIncludeEnum)
                return BulkRequest.IncludeEnumToJsonValue(bulkRequestIncludeEnum);
            if (obj is ChangeTrackingRequest.FrequencyEnum changeTrackingRequestFrequencyEnum)
                return ChangeTrackingRequest.FrequencyEnumToJsonValue(changeTrackingRequestFrequencyEnum);
            if (obj is DomainReputationScores.RiskLevelEnum domainReputationScoresRiskLevelEnum)
                return DomainReputationScores.RiskLevelEnumToJsonValue(domainReputationScoresRiskLevelEnum);
            if (obj is GenericSuccessResponse.StatusEnum genericSuccessResponseStatusEnum)
                return GenericSuccessResponse.StatusEnumToJsonValue(genericSuccessResponseStatusEnum);
            if (obj is GraphLink.TypeEnum graphLinkTypeEnum)
                return GraphLink.TypeEnumToJsonValue(graphLinkTypeEnum);
            if (obj is GraphNode.TypeEnum graphNodeTypeEnum)
                return GraphNode.TypeEnumToJsonValue(graphNodeTypeEnum);
            if (obj is InvestigateRequest.IndicatorTypeEnum investigateRequestIndicatorTypeEnum)
                return InvestigateRequest.IndicatorTypeEnumToJsonValue(investigateRequestIndicatorTypeEnum);
            if (obj is InvestigateRequest.DepthEnum investigateRequestDepthEnum)
                return InvestigateRequest.DepthEnumToJsonValue(investigateRequestDepthEnum);
            if (obj is InvestigateResult.IndicatorTypeEnum investigateResultIndicatorTypeEnum)
                return InvestigateResult.IndicatorTypeEnumToJsonValue(investigateResultIndicatorTypeEnum);
            if (obj is InvestigateResult.StatusEnum investigateResultStatusEnum)
                return InvestigateResult.StatusEnumToJsonValue(investigateResultStatusEnum);
            if (obj is Job.StatusEnum jobStatusEnum)
                return Job.StatusEnumToJsonValue(jobStatusEnum);
            if (obj is JobResponse.StatusEnum jobResponseStatusEnum)
                return JobResponse.StatusEnumToJsonValue(jobResponseStatusEnum);
            if (obj is MonitorAssertions.DnsRecordTypeEnum monitorAssertionsDnsRecordTypeEnum)
                return MonitorAssertions.DnsRecordTypeEnumToJsonValue(monitorAssertionsDnsRecordTypeEnum);
            if (obj is MonitorCheckRequest.TypeEnum monitorCheckRequestTypeEnum)
                return MonitorCheckRequest.TypeEnumToJsonValue(monitorCheckRequestTypeEnum);
            if (obj is MonitorCheckRequest.MethodEnum monitorCheckRequestMethodEnum)
                return MonitorCheckRequest.MethodEnumToJsonValue(monitorCheckRequestMethodEnum);
            if (obj is MonitorCheckResponse.TypeEnum monitorCheckResponseTypeEnum)
                return MonitorCheckResponse.TypeEnumToJsonValue(monitorCheckResponseTypeEnum);
            if (obj is MonitorCheckResponse.StatusEnum monitorCheckResponseStatusEnum)
                return MonitorCheckResponse.StatusEnumToJsonValue(monitorCheckResponseStatusEnum);
            if (obj is MonitorDashboardResponse.OverallStatusEnum monitorDashboardResponseOverallStatusEnum)
                return MonitorDashboardResponse.OverallStatusEnumToJsonValue(monitorDashboardResponseOverallStatusEnum);
            if (obj is MonitoringAlertRequest.TypeEnum monitoringAlertRequestTypeEnum)
                return MonitoringAlertRequest.TypeEnumToJsonValue(monitoringAlertRequestTypeEnum);
            if (obj is MonitoringStatusResponse.StatusEnum monitoringStatusResponseStatusEnum)
                return MonitoringStatusResponse.StatusEnumToJsonValue(monitoringStatusResponseStatusEnum);
            if (obj is PivotRequest.IndicatorTypeEnum pivotRequestIndicatorTypeEnum)
                return PivotRequest.IndicatorTypeEnumToJsonValue(pivotRequestIndicatorTypeEnum);
            if (obj is ScanRequest.TypeEnum scanRequestTypeEnum)
                return ScanRequest.TypeEnumToJsonValue(scanRequestTypeEnum);
            if (obj is ScheduleConfig.FrequencyEnum scheduleConfigFrequencyEnum)
                return ScheduleConfig.FrequencyEnumToJsonValue(scheduleConfigFrequencyEnum);
            if (obj is ScreenshotOptions.FormatEnum screenshotOptionsFormatEnum)
                return ScreenshotOptions.FormatEnumToJsonValue(screenshotOptionsFormatEnum);
            if (obj is ScreenshotSchedule.FrequencyEnum screenshotScheduleFrequencyEnum)
                return ScreenshotSchedule.FrequencyEnumToJsonValue(screenshotScheduleFrequencyEnum);
            if (obj is SearchRequest.FieldEnum searchRequestFieldEnum)
                return SearchRequest.FieldEnumToJsonValue(searchRequestFieldEnum);
            if (obj is SearchResponse.SourceEnum searchResponseSourceEnum)
                return SearchResponse.SourceEnumToJsonValue(searchResponseSourceEnum);
            if (obj is SearchResponse.QueryTypeEnum searchResponseQueryTypeEnum)
                return SearchResponse.QueryTypeEnumToJsonValue(searchResponseQueryTypeEnum);
            if (obj is SimilarDomainEntry.TechniqueEnum similarDomainEntryTechniqueEnum)
                return SimilarDomainEntry.TechniqueEnumToJsonValue(similarDomainEntryTechniqueEnum);
            if (obj is SimilarDomainsResponse.StatusEnum similarDomainsResponseStatusEnum)
                return SimilarDomainsResponse.StatusEnumToJsonValue(similarDomainsResponseStatusEnum);
            if (obj is SubdomainInfo.RecordTypeEnum subdomainInfoRecordTypeEnum)
                return SubdomainInfo.RecordTypeEnumToJsonValue(subdomainInfoRecordTypeEnum);
            if (obj is SubdomainInfo.StatusEnum subdomainInfoStatusEnum)
                return SubdomainInfo.StatusEnumToJsonValue(subdomainInfoStatusEnum);
            if (obj is SummaryInfo.StatusEnum summaryInfoStatusEnum)
                return SummaryInfo.StatusEnumToJsonValue(summaryInfoStatusEnum);
            if (obj is SummaryInfo.IpTypeEnum summaryInfoIpTypeEnum)
                return SummaryInfo.IpTypeEnumToJsonValue(summaryInfoIpTypeEnum);
            if (obj is TraitsInfo.UserTypeEnum traitsInfoUserTypeEnum)
                return TraitsInfo.UserTypeEnumToJsonValue(traitsInfoUserTypeEnum);
            if (obj is ICollection collection)
            {
                List<string> entries = new();
                foreach (var entry in collection)
                    entries.Add(ParameterToString(entry));
                return string.Join(",", entries);
            }

            return Convert.ToString(obj, System.Globalization.CultureInfo.InvariantCulture);
        }

        /// <summary>
        /// URL encode a string
        /// Credit/Ref: https://github.com/restsharp/RestSharp/blob/master/RestSharp/Extensions/StringExtensions.cs#L50
        /// </summary>
        /// <param name="input">string to be URL encoded</param>
        /// <returns>Byte array</returns>
        public static string UrlEncode(string input)
        {
            const int maxLength = 32766;

            if (input == null)
            {
                throw new ArgumentNullException("input");
            }

            if (input.Length <= maxLength)
            {
                return Uri.EscapeDataString(input);
            }

            StringBuilder sb = new StringBuilder(input.Length * 2);
            int index = 0;

            while (index < input.Length)
            {
                int length = Math.Min(input.Length - index, maxLength);
                string subString = input.Substring(index, length);

                sb.Append(Uri.EscapeDataString(subString));
                index += subString.Length;
            }

            return sb.ToString();
        }

        /// <summary>
        /// Encode string in base64 format.
        /// </summary>
        /// <param name="text">string to be encoded.</param>
        /// <returns>Encoded string.</returns>
        public static string Base64Encode(string text)
        {
            return Convert.ToBase64String(global::System.Text.Encoding.UTF8.GetBytes(text));
        }

        /// <summary>
        /// Convert stream to byte array
        /// </summary>
        /// <param name="inputStream">Input stream to be converted</param>
        /// <returns>Byte array</returns>
        public static byte[] ReadAsBytes(Stream inputStream)
        {
            using (var ms = new MemoryStream())
            {
                inputStream.CopyTo(ms);
                return ms.ToArray();
            }
        }

        /// <summary>
        /// Select the Content-Type header's value from the given content-type array:
        /// if JSON type exists in the given array, use it;
        /// otherwise use the first one defined in 'consumes'
        /// </summary>
        /// <param name="contentTypes">The Content-Type array to select from.</param>
        /// <returns>The Content-Type header to use.</returns>
        public static string SelectHeaderContentType(string[] contentTypes)
        {
            if (contentTypes.Length == 0)
                return null;

            foreach (var contentType in contentTypes)
            {
                if (IsJsonMime(contentType))
                    return contentType;
            }

            return contentTypes[0]; // use the first content type specified in 'consumes'
        }

        /// <summary>
        /// Select the Accept header's value from the given accepts array:
        /// if JSON exists in the given array, use it;
        /// otherwise use all of them (joining into a string)
        /// </summary>
        /// <param name="accepts">The accepts array to select from.</param>
        /// <returns>The Accept header to use.</returns>
        public static string SelectHeaderAccept(string[] accepts)
        {
            if (accepts.Length == 0)
                return null;

            if (accepts.Contains("application/json", StringComparer.OrdinalIgnoreCase))
                return "application/json";

            return string.Join(",", accepts);
        }

        /// <summary>
        /// Provides a case-insensitive check that a provided content type is a known JSON-like content type.
        /// </summary>
        [GeneratedRegex("(?i)^(application/json|[^;/ \t]+/[^;/ \t]+[+]json)[ \t]*(;.*)?$")]
        private static partial Regex JsonRegex();

        /// <summary>
        /// Check if the given MIME is a JSON MIME.
        /// JSON MIME examples:
        ///    application/json
        ///    application/json; charset=UTF8
        ///    APPLICATION/JSON
        ///    application/vnd.company+json
        /// </summary>
        /// <param name="mime">MIME</param>
        /// <returns>Returns True if MIME type is json.</returns>
        public static bool IsJsonMime(string mime)
        {
            if (string.IsNullOrWhiteSpace(mime)) return false;

            return JsonRegex().IsMatch(mime) || mime.Equals("application/json-patch+json");
        }

        /// <summary>
        /// Get the discriminator
        /// </summary>
        /// <param name="utf8JsonReader"></param>
        /// <param name="discriminator"></param>
        /// <returns></returns>
        /// <exception cref="JsonException"></exception>
        public static string GetDiscriminator(Utf8JsonReader utf8JsonReader, string discriminator)
        {
            int currentDepth = utf8JsonReader.CurrentDepth;

            if (utf8JsonReader.TokenType != JsonTokenType.StartObject && utf8JsonReader.TokenType != JsonTokenType.StartArray)
                throw new JsonException();

            JsonTokenType startingTokenType = utf8JsonReader.TokenType;

            while (utf8JsonReader.Read())
            {
                if (startingTokenType == JsonTokenType.StartObject && utf8JsonReader.TokenType == JsonTokenType.EndObject && currentDepth == utf8JsonReader.CurrentDepth)
                    break;

                if (startingTokenType == JsonTokenType.StartArray && utf8JsonReader.TokenType == JsonTokenType.EndArray && currentDepth == utf8JsonReader.CurrentDepth)
                    break;

                if (utf8JsonReader.TokenType == JsonTokenType.PropertyName && currentDepth == utf8JsonReader.CurrentDepth - 1)
                {
                    string localVarJsonPropertyName = utf8JsonReader.GetString();
                    utf8JsonReader.Read();

                    if (localVarJsonPropertyName != null && localVarJsonPropertyName.Equals(discriminator))
                        return utf8JsonReader.GetString();
                }
            }

            throw new JsonException("The specified discriminator was not found.");
        }

        /// <summary>
        /// The base path of the API
        /// </summary>
        public const string BASE_ADDRESS = "https://api.whisper.security";

        /// <summary>
        /// The scheme of the API
        /// </summary>
        public const string SCHEME = "https";

        /// <summary>
        /// The context path of the API
        /// </summary>
        public const string CONTEXT_PATH = "";

        /// <summary>
        /// The host of the API
        /// </summary>
        public const string HOST = "api.whisper.security";

        /// <summary>
        /// The format to use for DateTime serialization
        /// </summary>
        public const string ISO8601_DATETIME_FORMAT = "o";
    }
}
